[2018-09-08 21:58] aceisace opened #1 "General Discussion, Support and Improvement ideas"
Here you have an option to chat about improvement ideas regarding the E-Paper Calendar.

As usual, nothing and nobody is perfect, but we can strive to get closer towards that. Please post your comments in a friendly way and remember to be nice. Thanks for your understanding.

All improvement ideas are welcome.

[2018-09-23 16:23] surak opened #3 "Incorrect url in Installer"
curl -sSL https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/blob/master/Installer-with-debug |bash
bash: line 7: syntax error near unexpected token `newline'
bash: line 7: `<!DOCTYPE html>'
curl: (23) Failed writing body (960 != 1370)

[2018-09-23 16:55] aceisace commented on #3
@surak
Thanks for pointing the bug out. I‘ll check the installer again and will let you know as soon as it‘s been fixed. Does the normal Installer (without debug) also show the same error?

[2018-09-23 21:06] aceisace commented on #3
@surak
I've just tested the Installer _without_ debug. It seems to work just fine actually (see attached picture)

This was tested just now on a Raspberry Pi Zero W running Raspbian Stretch from June 2018.
The command from the README page
(curl -sSL https://raw.githubusercontent.com/aceisace/Raspberry-Pi-Google-Calendar-with-E-Paper-display/master/Packages-installer | bash)
was executed in the ter

[2018-09-23 21:12] startedfromtheb0ttom opened #4 "Support for 2-Colour E-Paper Displays"
Hello

In the pictures some of the writing is red, but my E-Ink Display can not display this color. It can only show black. How can I change the corresponding color icons to black so that they are clearly visible on the display

[2018-09-23 21:50] aceisace commented on #4
@startedfromtheb0ttom
If I've understood correctly, you're probably using the waveshare 7.5" 2-Colour Display, which does not support red.
You did mention 'clearly visible' in your comment. Does that mean that the red parts are displayed in a different manner? Could you please post a picture of the display to show the issue?

The best and most permanent fix I can think of would be to reduce the co

[2018-09-23 21:50] aceisace commented on #3
@surak
Alright, I've just fixed the problem involving the installer with debug. The problem was that in the README file, the link pointed to the file in html format though it should have been the plain text version. Thanks for pointing that out. Both Installers are fixed now.

Please leave a feedback if it works now.

[2018-09-24 08:34] startedfromtheb0ttom commented on #4
I use this 7,5" Waveshare E-Ink Display (https://www.waveshare.com/wiki/7.5inch_e-Paper_HAT). It's not the 3 Color Version. The red icons are not clearly visible on the screen from a distance
![img_2103](https://user-images.githubusercontent.com/42494071/45943076-360c6c80-bfe5-11e8-8173-d4fd59a86ad5.JPG)
![img_2104](https://user-images.githubusercontent.com/42494071/45943077-360c6c80-bfe5-11e8-92e

[2018-09-25 19:40] aceisace commented on #3
I‘ll be closing this issue now.

[2018-09-25 19:40] #3 closed

[2018-09-25 22:36] aceisace commented on #4
@startedfromtheb0ttom

Although this software wasn't originally intended to be used with the 2-colour E-Paper Display, I'm going to add full support for the 2-colour version soon.

For now, I have a 'quick fix' which will allow you to use the software on the 2-colour E-Paper Display. I have tested it and confirm it works:
<img src="https://user-images.githubusercontent.com/29558518/46045487-251346

[2018-09-25 23:14] aceisace commented on #4
I'll close this issue for now then.

[2018-09-25 23:14] #4 closed

[2018-09-26 16:02] startedfromtheb0ttom commented on #4
Thank you! It's work's

[2018-09-27 22:28] surak opened #5 "Text also needs to be fixed in monochrome displays"
Thing is, it's not just the bitmaps which need to be converted for 2-colours. Look at the missing month:

![img_5311](https://user-images.githubusercontent.com/878399/46177864-c92ef600-c2b4-11e8-8964-17dbef5a9c09.JPG)

[2018-09-27 22:28] surak commented on #1
I'm making one. I had it ready, but updating raspbian messes up with the drivers.

That being said, I would like to be able to choose the orientation (I saw your comment on looking better this way). And instead of that huge month (who needs the biggest number on display to be the month?), how about the events of the day? Or the day/temperature?

Just throwing some ideas. I will probably clone the

[2018-09-27 22:33] surak commented on #5
Forget it, it works.

[2018-09-27 22:33] #5 closed

[2018-09-28 21:12] aceisace commented on #1
@surak
Hi Alexander. Thank you for your comment. I'm glad you liked the project and that you are giving improvement ideas :)

As for the RIBBA 21675 frame, I saw the picture you took from your other comment:
<img src="https://user-images.githubusercontent.com/878399/46177864-c92ef600-c2b4-11e8-8964-17dbef5a9c09.JPG" width="400">
It does make a nice fit with the E-Paper Display. Are you planning to

[2018-10-01 22:07] StrangeDaize opened #6 "Non-ASCII character"
A simple resolution for:
SyntaxError: Non-ASCII character '\xc2' in file stable.py on line 151, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

Is to change from:
            temperature.text((2, 8), (Temperature + " °C"),  fill=0 ,font=font)
to:
            temperature.text((2, 8), (Temperature + u'\xb0' + "C"),  fill=0 ,font=font)

[2018-10-02 00:28] aceisace commented on #6
@StrangeDaize
Thanks for opening your first ever issue and pointing that out. I ran into this error while I was developing this software with python2 but I couldn't manage to fix it at the time.

After switching from python2 to python3 (mainly because some used packages won't be supported by python2 in the near future), this error was gone and hence, no longer an issue.
Nonetheless, I will definet

[2018-10-02 00:33] aceisace commented on #6
## Important Notice:
A kind note to anyone using the software, please update to the latest version (early October 2018) as it contains a critical update which prevents ghosting and damage to the display from over-voltage in the long-term. It also contains full support for the 2-Colour E-Paper version. Refer to the wiki for updating instructions.

[2018-10-02 00:33] aceisace commented on #1
## Important Notice:
A kind note to anyone using the software, please update to the latest version (early October 2018) as it contains a critical update which prevents ghosting and damage to the display from over-voltage in the long-term. It also contains full support for the 2-Colour E-Paper version. Refer to the wiki for updating instructions.

[2018-10-02 00:34] aceisace commented on #4
## Important Notice:
A kind note to anyone using the software, please update to the latest version (early October 2018) as it contains a critical update which prevents ghosting and damage to the display from over-voltage in the long-term. It also contains full support for the 2-Colour E-Paper version. Refer to the wiki for updating instructions.

[2018-10-02 16:36] aceisace commented on #6
@StrangeDaize
I'm going to add this at the beginning to the file (stable.py) to fix the encoding. Is this all right? Or do you recommend changing the 'temperature' line?
#!/usr/bin/python
# -*- coding: utf-8 -*-

[2018-10-03 12:21] StrangeDaize commented on #6
I added just the encoding for the degree symbol, that way utf-8 isn't
forced universally.
This is a personal preference that allows me more flexibility.

On Tue, Oct 2, 2018 at 12:36 PM Ace <notifications@github.com> wrote:

[2018-10-03 12:21] aceisace commented on #1
@surak
I've finished a functional image converter in the [developers-only folder](https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/blob/master/For-developers-only/2-Colour-converter.py).

Now you can input png, jpeg and bmp files and the image converter will prepare them for the E-Paper display. It will reduce all colours of all images to simply pure black and pure whit

[2018-10-03 17:03] aceisace commented on #6
@StrangeDaize
I've added both implementations by adding the encoding at the beginning of the file and leaving an uncommented line with your fix.

[2018-10-03 17:54] aceisace commented on #6
I'm closing this issue for now. If you think that this issue should remain open, please let me know.

[2018-10-03 17:54] #6 closed

[2018-10-04 09:16] surak commented on #1
Thanks! I’ve been busy with other stuff, I need to get back to this :-)

2018-10-03 14:21 GMT+02:00 Ace <notifications@github.com>:

--
[]
Alexandre Strube
surak@ubuntu.com

[2018-10-04 12:56] aceisace commented on #1
@surak
I've added the Gravit Designer file I used for creating the icons in the 'developers-only' folder. It's a good starting point for editing the current layout and creating icons.

[2018-10-10 11:45] aceisace commented on #1
@surak
Are you using the latest version of the E-Paper Calendar software? If so, I wanted to ask you if you could post a gif or short clip of the display during updating.
The new version (v1.2) uses a different code which should be able to update the screen faster for the 2-Colour display but I have no way of knowing if it actually works as I only have the 3-Colour display. Thanks in advance.

Sur

[2018-10-10 14:22] surak commented on #1
Will do - I finally got back my notebook!

2018-10-10 13:45 GMT+02:00 Ace <notifications@github.com>:

--
[]
Alexandre Strube
surak@ubuntu.com

[2018-10-10 21:03] surak commented on #1
Hi. Indeed the update is WAY faster for screen refresh. But the rest of the code is still slow before that.

Link to the video: https://youtu.be/HkM56hZw7kU

[2018-10-10 21:07] surak opened #9 "Python shebang defaults to python2"
On Raspbian, #!/usr/bin/python defaults to python2, which can be an issue for this code. I would suggest to have it as "#!/usr/bin/env python3" instead.

[2018-10-10 21:12] surak opened #10 "Exception handling for weather fetching failures"
When the weather service fails, the code throws an exception and dies.

As there is no watchdog to relaunch the process (should I write one?), a better handling of the possible exceptions (fetching ics file, fetching weather, drawing the screen) should have try/catch statements.

I am creating issues separately, should I just use the suggestion/improvements? Or just pull requests (complicated, sin

[2018-10-10 21:13] surak opened #11 "Use a separate config file for settings"
This way, I won't push my key by mistake here :-)

[2018-10-10 22:05] surak opened #13 "Calibration of black/white screens - was it updated?"
Does it need an extra step of "red" calibration?

The code looks like it takes forever to go further.

[2018-10-11 10:40] aceisace commented on #1
@surak
Thanks for the update and the video, Alexander. I'm glad to see that the update for the 2-Colour version works as expected. During updating, there are no signs of ghosting and the image remains clear.

Indeed, the code does take a while to get everything ready. The communication and parsing of openweathermap api alone takes 20 seconds. It also takes a few seconds converting the finished pic

[2018-10-11 10:44] aceisace commented on #11
I've merged your pull request.
Yes, it's a good idea to have a seperate configuration file.

Thanks for contributing and improving the script :)

[2018-10-11 10:49] aceisace commented on #13
@surak
The red part does not need to be calibrated if the E-Paper display does not support red. It's only intended for the 3-Colour E-Paper display.

I've updated the calibration file when I released v1.2. Here is the link to the [updated calibration file](https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/blob/master/2-colour/calibration.py). It's now installed by defaul

[2018-10-11 10:51] surak commented on #13
How about a setting "display=color| display=bw"? Something like that? That would eliminate those hacks and scripts, as both are supported at the same time.

[2018-10-11 10:52] surak commented on #1
Yes, that's great news. I am figuring out how to change the months thing into a more useful thing - like the weather for the day, for example, or a big clock. I still don't get how you map coordinates though - when I come back home, I'll show you what I mean.

Both things can be done asynchronously. One does not need to wait for the OWM reply to assemble the other parts of the bitmap, for example.

[2018-10-11 11:13] aceisace commented on #10
@surak
Currently, there is nothing to restart the script or a section of the script if there is a network or server problem except for rebooting.

I'd recommend the latter (using try/catch statements) in the script as it's better suited for debugging than a watchdog that keeps relaunching the script. Unfortunately, I'm not too good at exceptions handling so I'll have to ask you for help on that.

[2018-10-11 23:35] aceisace commented on #13
That's a good idea. I'll add an option to choose the display version (bw/colour) in the main script and test it out. Once that is ready, I'll let you know.

[2018-10-11 23:57] aceisace commented on #1
@surak
Thanks, I'll soon add instructions in the wiki on how to set the correct coordinates for a bmp file. Once that's done, I'll notify you.

I'll be looking forward to the multitasking part in python.

[2018-10-14 19:53] aceisace commented on #11
I'm closing this issue for now. If you think that this issue should remain open, please let me know.

[2018-10-14 19:53] #11 closed

[2018-10-14 19:53] aceisace commented on #9
I'm closing this issue for now. If you think that this issue should remain open, please let me know.

[2018-10-14 19:57] aceisace commented on #1
@surak
I've updated the instructions in the [Wiki](https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/wiki/Display-Layout-and-Bitmaps) with instructions on placing the images at the correct positions.  If there is something that's not clear, do let me know.

[2018-10-14 19:57] #9 closed

[2018-10-16 21:31] aceisace commented on #13
@surak
I've just released an updated installer for the next release (v1.3). It has more options in the settings.py file (including an option to choose the display) and doesn't require seperate folders for bmps either.

The installer has been cleaned up greatly and is less complicated now.

[2018-10-17 10:33] aceisace commented on #13
I've tested the new version (v1.3) and it seems to work fine on my E-Paper Display. Can I ask you to review the new version before I officially release the new version? Thanks in advance

[2018-10-20 11:52] surak commented on #13
Sorry for the delay. Usually, I only have the weekends. I merged your master into my fork and it works wonderfully. I am still trying to remove the bitmaps for the month and change it into a short list of the next day's appointments.

About the month: I managed to write it using TrueType fonts instead of bitmaps - it's just a big number after all. What do you think?

[2018-10-20 23:59] aceisace commented on #13
@surak
Thanks for the reply. I'll wait for your replies on weekends then. I'm glad to hear the new Installer and version (1.3) are working fine.

Showing upcoming events on the display is a good idea. If you need help with extracting the events from the iCal, I can provide you with an example code. Let me know if you need it.

As for replacing the months bmp with writing using ttf, I have a tip: D

[2018-10-23 21:45] surak commented on #10
I thought about something that would make it CLEAR on the screen that it's not being updated. Like a warning in some corner, or just a huge X crossing the whole thing, making us both annoyed and wishing to fix it. What do you think?

[2018-10-24 07:42] aceisace commented on #10
Yes, that‘s a good idea. As the Openweathermap server is available for ~95% a day for free users, it‘s possible there was a server error than a network problem. In that case, retrying to access the API will fix it.

I’d prefer the second option, a small warning somwhere on the display.

What do you say about a crossed out Wifi icon in the place of the weather icon when the server returned an error

[2018-10-24 08:13] surak commented on #10
That's a good one. Together with a warning on the console, like you have on the pull request.

[2018-10-24 09:31] aceisace commented on #10
@surak
Would the icon below be suitable for showing a network/server problem? It has the same dimensions as the weather icons (60x60px) and can be used in place of the weather icon.
![no-wifi](https://user-images.githubusercontent.com/29558518/47420908-cc1bea00-d77f-11e8-9e66-874bf8a87f1e.jpeg)

I'll also add a warning on the console to show that there is an error.

[2018-10-24 11:14] surak commented on #10
It is somehow resized here (appears as a 95x95 jpeg), but I'm thinking if this isn't somewhat misleading: That is clearly the wifi, which might lead the user to think that there is, in fact, a problem with the wifi, not with the OpenWeather. How about a "broken" cloud?

Something like this (I just googled, and I can't upload svg here):

![artboard_79-512](https://user-images.githubusercontent.com/

[2018-10-24 13:08] aceisace commented on #10
@surak
You have a point actually. Since it's not clear if the issue lies with openweathermap or the network itself, it's probably not a good idea to use my suggested icon. I'll create an icon similar to the third icon (a cloud with question mark) and upload it again here.

Also, just modified your comment to make the pictures a bit smaller

[2018-10-24 13:38] aceisace commented on #10
@surak
OK, this is the icon I just made, using the third icon as the template:
![cloud-no-response-alt](https://user-images.githubusercontent.com/29558518/47434309-99cfb400-d7a2-11e8-9f06-b561478acea9.jpg)
And  as an alternative:
![cloud-no-response](https://user-images.githubusercontent.com/29558518/47434310-9a684a80-d7a2-11e8-9e0a-666452d3c0bc.png)
I think the latter is slightly better to read.

[2018-10-24 13:39] surak commented on #10
I'm with you on the latter!

[2018-10-24 22:05] surak commented on #1
It's perfectly clear, thanks (I wonder if we have put the display upside down wouldn't it make it easier - the placement of images from the vertical standpoint I mean... but I digress).

The date at the top left is completely redundant - I just changed it for something useful, like... the hour :-)

I started making better use of the screen's real estate (let's just say that *EVERYBODY* who looked

[2018-10-25 13:50] aceisace commented on #10
I've tested out a few improvements to the main file:
* Created a seperate file 'icon_positions_locations.py' for positions of icons and their locations.
* Added feature to show icon when Openweathermap API returns an Error
* The main file will now print more information on the console (see below)
* Added option to show upcoming events with name and date on the console
* Added more explanations in

[2018-10-25 14:31] aceisace commented on #1
@surak
I'm glad to hear the instructions on the positions are clear in the wiki. You've done a neat job on utilising the empty space. Looks like you're getting the hang of using the E-Paper display. Btw, your E-Paper Calendar case looks good :)

You added a function to display the time. How often do you refresh the screen?

From what I understand, you're looking for a way to create space for more

[2018-10-26 15:48] surak commented on #1
I refresh the time once a minute. But I only check for the weather once an hour. I'll merge your recent changes into my fork and commit those changes so you can have a look.

[2018-10-27 09:09] aceisace commented on #1
It's probably not a good idea to update the screen too often. I've attached a part of the E-Paper display just below:
<img src="https://user-images.githubusercontent.com/29558518/47601795-f830a880-d9d5-11e8-8ad0-07af2c8d3b71.png" width="700">

As you can see, the panel's life is limited by either 1000000 refreshs or 5 years, whatever is reached first.
It comes down to : 1000000 / (365*5) = ~547 up

[2018-10-31 21:41] aceisace commented on #13
I'm closing this issue for now. If you think that this issue should remain open, please let me know.

[2018-10-31 21:41] #13 closed

[2018-11-05 10:58] aceisace commented on #10
@surak
Hi, no problem.

It's good to hear that your rig is working fine. It also means that this issue is resolved so I'll be closing this. If you feel a need to re-open this issue, please do so.

 If the space above the Calendar section is too small, you can always create a new page. For example, after touching a capactive sensor, the programm will switch to the other page. Another idea would be

[2018-11-05 10:58] #10 closed

[2018-11-05 20:04] surak commented on #1
Hi,

just to let you know, I found those open source icons: https://akveo.github.io/eva-icons/#/

[2018-11-05 21:37] aceisace commented on #1
Hi,
thank you for the link to the open-source icons. If I need any more icons, I'll look there as well.
On the other hand, if you think one of the current icons could be replaced by a better one, I'd sure like to hear the suggestion.

[2018-11-05 22:28] surak commented on #1
Hi again!

I did put some thought on the whole thing recently from the standpoint of a designer, and tested with "users" (i.e. all my friends and visitors who saw the thing).

Turns out that:

1. the big month, as I suspected, is not just useless, it's misleading. Everyone knows in which  month we are, so they assume (wrongly) that the big number is either temperature or the current day.
2. what i

[2018-11-06 08:07] aceisace commented on #1
Hi Alex, first of all thank you for taking the time to get more opinions from you colleges in regards to the current layout.

As you did mention quite a few things, I'll reply in the same order:
1) For the 'month' icon, I can make all of them smaller and omit the number of the month. This can be fixed relatively.

2) You mentioned the weather being __too__ small. Does this apply to the temperature

[2018-11-08 01:30] FrederikLauber opened #15 "Incorrect power unit in README file"
Hi,

the mainpage states:
"Altough mainly intended for the Raspberry Pi Zero W, mainly since it only requires 1W per hour, it works on the Rapsberry Pi 2/3 as well.".

My grievance is with the "1W per hour". Watt is already a measurement of energy per time making the statement physically nonsensical. It should either read "1W" or something like "1VAs per hour".

Also, (just noticing while writing)

[2018-11-08 06:58] aceisace commented on #15
@FrederikLauber
Hi Frederik. Thank you for pointing that out. I've changed the following:
`Altough mainly intended for the Raspberry Pi Zero W, mainly since it only requires 1W per hour`
with:
`Altough mainly intended for the Raspberry Pi Zero W, mainly since it requires very little power (1W)`
Does this sound correct now?

[2018-11-08 12:31] FrederikLauber commented on #15
Sounds perfect! Thanks for changing it so quickly!

[2018-11-08 12:31] #15 closed

[2018-11-08 13:02] aceisace commented on #15
You're welcome. Thanks for closing this issue.

[2018-11-11 21:01] aceisace commented on #1
@surak
Could you please review the suggestions I mentioned in the last comment. If we can finalise some of these suggestions, I can start with the implementation of those features. Thanks in advance.

[2018-11-12 10:38] surak commented on #1
Hi!

1. About month: It's, as I said, not just useful info, it's misleading. There's no reason for it to exist at all in the current incarnation. (The three-letters month name is fine).

2. About the weather, I will put it in huge letters. Like instead of the month now, or at the upper left corner where I put the clock, which will go. It's the single most important info before leaving the house.

[2018-11-16 23:57] aceisace commented on #1
@surak
Sorry for the late reply. I've been a bit busy this week.
I've reviewed a few things and experimented with a few others. To conclude, this is what's finalised so far:
1. Will be changed as you suggested. No additional discussion required.
2. Could you please clarify this point. It seems as I did not fully understand this part. A short sketch or photo would be nice.

* You have a point that

[2018-11-25 23:18] aceisace commented on #1
@surak
I've been trying out a few things here and there, trying  to implement all features you suggested, but it seems as though it's quite difficult to do so without changing the way on how a few things are handled.

I can implement features that don't require changing a lot of the code itself as that would be too troublesome (e.g. positions). For example, the way things are now, I'd have to crea

[2018-12-02 22:16] surak commented on #1
Hi!!!!

I bought a smaller coloured e-ink, and I haven't had this problem you mentioned:

And I don't see this problem.

![img_3160](https://user-images.githubusercontent.com/878399/49345654-2ca81c00-f688-11e8-9445-5ae68db5e3dc.JPG)

So, I think we could use fonts for everything, if we fix this issue with font rendering at your screen.

[2018-12-02 22:18] surak commented on #1
Ps: I'm using the inkyphat library for this little one

[2018-12-03 13:48] aceisace commented on #1
Hi, thanks for your reply.

the picture clearly shows that the inkyphat has no 'mixing' of the colours around the text. This sounds really interesting. It seems as though the inkyphat library uses a different (and much better) code for converting the pixel colours to data. Thank you for sharing :+1:

I am going to have a deeper look at the way the inkyphat library handles the conversion on the wee

[2018-12-09 20:07] aceisace commented on #1
@surak
I had a look at the inky library from pimoroni. Although the approach to turn the image into pixels is quite different (and slightly more time-consuming), it does fix the trouble of not being able to read text, especially when using small font sizes. You've probably realised this but the inky library actually does not convert rgb images to grayscale (which is waveshare's approach) as it onl

[2018-12-18 11:43] Crickus commented on #1
Hi.
I was gifted with this thing
[https://www.waveshare.com/product/modules/oleds-lcds/e-paper/9.7inch-e-paper-hat.htm](url)
and have a great desire of applying your project on it.
As I understood all spaces and drawings conversion in project was counted for 7.5 screen. So I'll have a great headache stretching it. Am I right? Could you provide me with a peace of advise as a newcomer.
And another t

[2018-12-18 20:31] aceisace commented on #1
@Crickus
Hi, thanks for your interest in this project. As you know, this software was written for the 7.5" E-Paper Display from Waveshare/GoodDisplay, it will not work that easily with other E-Paper types due to the different resolution, (and pinout) etc. I did have interest in the 9.7" E-Paper from waveshare, but I think that it's still expensive (170USD) to prototype with. Sure, the refresh time

[2018-12-18 20:43] aceisace commented on #1
@surak
I've finally had the time to work on this project. Here is the picture of the E-Paper Calendar running on a beta version:
<img src="https://user-images.githubusercontent.com/29558518/50181784-9d4c6b00-030d-11e9-9fbd-317e4d8ccc90.JPG" width="400">
What do you think of this update? I've removed the date and added some more weather data, including a short description.

[2018-12-18 21:34] surak commented on #1
I like it! Right now I'm overseas for xmas vacation, in January I'll merge it into my fork. Did you do something with the drawing library?

[2018-12-19 18:02] Crickus commented on #1
Near the edge strip is more or less flexible, so I think it possible. I made few photos to show.
![20181219_194345_](https://user-images.githubusercontent.com/22008248/50238167-57ec7400-03c7-11e9-9b66-5de2cc958229.jpg)
![20181219_194359_](https://user-images.githubusercontent.com/22008248/50238168-57ec7400-03c7-11e9-9fea-642ecb560334.jpg)

I agree with you absolutely. Price is inadequate. But some

[2018-12-19 19:05] aceisace commented on #1
@Crickus
Good luck with the adaptation of this software for the 9.7" E-Paper Display from waveshare. If you need help, just drop me a message and I'll help as much as possible.

[2018-12-19 19:22] aceisace commented on #1
@surak
I'm glad you like the new version (still in beta) of the software. Hopefully I can release it in the upcoming holidays.

In regards to the Inky library from Pimoroni, I've had a quick look at their library. They use numpy to create a matrix filled with zeros in the size of the the resolution. After adding text with Pillow, the data overwrites the zeros with 0 for white, 1 for black and 2 fo

[2018-12-24 23:43] aceisace commented on #1
## Update
### The E-Paper Calendar software has been updated from v1.3 to v1.4 just recently (Late December).
It contains more features regarding the weather as well as some back-end improvements. If you are using an older version, don't forget to update.

**P.S.: If you notice any bugs, please let me know by opening an issue. Thanks in advance.**

[2019-01-03 14:55] aceisace commented on #1
@zAm1987
Hi, thanks for your interest in this project. Also, nice to hear you're back to learning python :)

I haven't thought of using multiple ical files/urls so far and therefore did not implement this feature. As this seems like a good new feature, I'll update the software as soon as I find a way to implement multiple iCal files/ URLs. Hopefully in the next few days, this feature should be imp

[2019-01-03 20:43] surak opened #16 "Typo in file name"
Separator is written seperator in calendar/other/en

[2019-01-03 20:46] surak commented on #16
And the January month bitmap says "Janruary"

[2019-01-03 21:50] aceisace commented on #16
@surak
OK, the typos have been fixed. Could you please confirm this? Thanks

[2019-01-03 21:54] aceisace commented on #1
@zAm1987
OK, I've updated the software and implemented the feature of multiple iCal URLs. To update, please follow the instructions on the README file (in the updating section). To use multiple iCal URLs, you can add them in the settings file. Instructions on how were added in the settings.py file. Although I have tested it, could you also provide some feedback after testing the update? Thanks in

[2019-01-04 07:17] zAm1987 commented on #1
Wow, that was fast :)
I'll have an look at it this weekend.

[2019-01-04 11:03] surak commented on #16
I just tested the stable(beta).py - it still calls seperator FYI

[2019-01-04 11:07] surak opened #17 "No module named ics"
The new version reads ics files as well (I was trying to do so as well).

However, it's not clear which ics version you are using (there are many of those).

I haven't found it on the documentation, either.

[2019-01-04 15:42] zAm1987 commented on #1
I tried installing the updated version twice from scratch (new raspian stretch lite) with the installer WITH debug and something seems wrong, as the script doesn't start on reboot and stable.py cannot be started manually.

I got the following outputs during setup:
-----------------------------------------------
_Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-

[2019-01-04 15:59] aceisace commented on #1
@zAm1987
I'm very sorry for the inconvenience with the bug on the software. I'll test both installers on a fresh install on Raspbian stretch lite and fix the issue asap. When it's fixed, I'll notify you.

[2019-01-04 16:58] aceisace commented on #16
It's possible I misunderstood something, but I did change seperator to separator on my repo:
<img src="https://user-images.githubusercontent.com/29558518/50700162-1eb03700-104a-11e9-9f96-e65f74840c9f.png" width="500">

[2019-01-05 15:16] aceisace commented on #1
@zAm1987
Hi, I've installed the E-Paper software on a fresh install of Raspbian Stretch (13-Nov-2018). Indeed, the Installer did output an error message regarding the PIL library, but the script itself was working fine:
<img src="https://user-images.githubusercontent.com/29558518/50706202-70ae8800-105d-11e9-80b2-83e2cd0e8243.png" wisth = "500">

The reason you encountered this error is because PIL

[2019-01-05 15:37] aceisace commented on #16
@surak
OK, I've fixed the typo in the stable(beta).py as well. Are there any more typos which need fixing?

[2019-01-06 13:15] aceisace commented on #17
@surak
OK, I've added a new page [Libraries and their versions](https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/wiki/Libraries-and-their-versions) which includes the libraries and their versions.

By the way, has the issue with 'No module named ics' been fixed?

[2019-01-06 19:40] aceisace commented on #16
@surak

Is it fixed now?

[2019-01-07 12:58] surak commented on #16
Sorry, back to work, didn't have any time anymore. If there's something else, I will reopen this one. Meanwhile, I close it!

[2019-01-07 12:58] #16 closed

[2019-01-08 18:55] zAm1987 commented on #1
Hi,

I just installed it again from scratch to test and the setup went through without errors.
The stable.py script also works fine now ;)

[2019-01-08 19:36] aceisace commented on #1
@zAm1987
I'm glad to hear that the installer is working fine and without any issues :)

I have been using 2 urls since nearly a week without any errors. Before going deeper, could you try using the following list in the settings.py file:
[code]
These are some generic iCal urls I used while testing and therefore are confirmed to work. If these do work, then the issue lies with the iCalendar. In tha

[2019-01-08 20:16] zAm1987 commented on #1
It is working fine with your example ical urls.

I tested my ical file and the one from my wife each on it's own and her file alone causes the errors, too.
I checked the urls twice and they are correct. As she uses the google calendar a) quite extensive and b) with special characters in event names it seems that the sheer number of events or the special characters are the problem. My file is not t

[2019-01-08 20:48] zAm1987 commented on #1
Yes it sends reminders by mail. I just had the same idea, because I cross checked our calendar settings and the reminders are the only difference I found in the settings.

Now I disabled all reminders in the google calendar web interface, rebooted the pi and startet stable.py again but the error still occurs.

[2019-01-08 21:02] aceisace commented on #1
@zAm1987
If the error still persists, I can only think of 2 possibilities:
1) The changes in your iCalendar are not yet implemented on all events. To test if this is the case, try your the URL tomorrow or at least in a few hours.
2) It's possible some reminders (maybe past ones) have still got the Email-reminder in their details. If 1) did not fix the issue, export the iCalendar to a file, create

[2019-01-09 19:55] zAm1987 commented on #1
Tested it again.

1. Waited a day and tried again. Also checked all upcoming events for event-specific email reminders. There are none. Maybe only last month and before. It still does not work.

2. Exported and imported into new calendar. Works fine, but I do not know why :D . If there are old events in the original calendar, which cause the error then they are there in the new one as well now...

[2019-01-09 21:40] aceisace commented on #1
@zAm1987
I'm not exactly sure as to why the second method fixed the issue, but as long as it works, it's alright :)
I'll add the fix in the F.A.Q page of the wiki when I find out more about the issue. Thanks for your help in testing.

[2019-01-09 22:01] aceisace commented on #1
@surak
@zAm1987
@StevenSeifried
I've implemented the feature of displaying events from the current day (currently in beta). By making the month icon smaller, the free space created is used to display the event name and time. For multiple events, the Calendar shows '+ x events' where x is the number of more events on the same day.  Could I have some feedback on this feature? Thanks in advance.
<img

[2019-01-10 06:55] zAm1987 commented on #1
I like it and would even display more than one event. My plan was - once I get the hang of python and your code - to display some events anyway.

While I think of it, maybe it ist more useful to fetch the events from the next 24 hours instead of today. Because when looking at the calendar at 23:00 for example, I am more interested in what ist coming next / after sleep instead of only the events th

[2019-01-10 07:39] aceisace commented on #1
@zAm1987
Thank you for your opinion. If you have any more improvement ideas, feel free to write them here as well.

I also think that displaying the events from the next 24 hours are more useful than the events from today. Since it's simpler to fetch events from a specific day (like today and tomorrow) compared to the next 24 hours, I'll use that option for now. I'll add another 'event' line with

[2019-01-13 12:55] zAm1987 commented on #1
Sounds like a good compromise ;)

[2019-01-13 19:13] aceisace commented on #1
@zAm1987
Thanks for your feedback. I've implemented the feature for the events from today and tomorrow. Once I test it thoroughly, I'll merge the changes in the public version.
Preview of the new feature:
<img src="https://user-images.githubusercontent.com/29558518/51089518-ebb72300-176e-11e9-8e2a-95eb151ebcee.JPG" width="500">

[2019-01-16 08:02] surak commented on #1
I am very happy with the development of this software. I've been through some rush here, so I'm unable to help lately. I will come back to you, and hopefully I can help with threading the code.

[2019-01-16 18:54] aceisace commented on #1
@surak
Thank you for the compliment :). The development would not have been possible without the help from everyone, so thank you all as well. You don‘t need to worry about helping out. You can help whenever you have the time to do so.

[2019-01-16 20:20] schneekluth opened #18 "Uninstalling the software"
Please extend the installer script with an option to uninstall your programm. Or maybe just add a step-by-step guide on how to uninstall it.

[2019-01-16 20:57] aceisace commented on #18
@schneekluth
Hi, I'll add an option to do so in the next few days. Just out of curiousity, is there any specific reason you want to uninstall? Maybe I could change something if there is room for improvement.

[2019-01-16 23:16] aceisace commented on #18
@schneekluth
I'm glad to hear you aren't discontent with the E-Paper Calendar software.
And yes, this software uses supervisor to handle starting the script at each reboot and not system.d. The reason is very simple, you just need very little configuration (4 lines are enough for supervisor) and it's easy to change debugging options, too.
As for your Nextcloud iCalendar, are you using email trigge

[2019-01-20 09:03] smartroad commented on #1
I am loving the idea of this! Are there any plans for having it more like an adgenda? Rather than just display the calendar, actually list the upcoming events? Would help me out for my work schedule lol

[2019-01-20 10:03] aceisace commented on #1
@smartroad
Hi, thanks for your interest in this project.
I am testing a beta version of the software which displays events, when they start and how many events you have left today and tomorrow. This is a preview of the beta version: https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/issues/1#issuecomment-453857058.
So yes, it's work in progress and it will be implemented

[2019-01-20 18:35] aceisace commented on #18
@schneekluth
I'm not really familiar with Nextcloud and have never used it myself either so I can't really say anything too specific about nextcloud. I did a small search on how to export a calendar in nextcloud and it seems as though it is possible.

There should generally be 2 ways to export the calendar. The first is as a .ics file, which after downloading can be imported to Google Calendar. Th

[2019-01-20 18:39] schneekluth commented on #18
I tried it with the URL-option but it did not work. Importing to google is something I don't want. I use Nextcloud to stay as far away from google as possible :) But anyway, thanks for your research. Nextcloud integration would be very nice in your project. Especially with your announced task feature.

[2019-01-20 19:20] schneekluth commented on #18
No, I mean a list of tasks. For every caldav synced calendar you can assign a set of tasks to do. It has nothing to do with the event in the calendar itself. Think about it more as a to do list that is automatically synced with the calendar. I use it with this [app](https://play.google.com/store/apps/details?id=org.dmfs.tasks&hl=de).

[2019-01-20 19:48] aceisace commented on #18
Now I understand what you meant by the task feature. But with the current free space left on the E-Paper, it seems almost impossible to add more text (for example tasks) without large modifications of the layout.

I'll see if I can do something about it by doing a more thorough research about iCalendars and tasks in the next few days.

[2019-01-21 13:07] Ahbrown41 commented on #1
Have you guys thought about using the Google calendar API as well?  Excited to test the version that displays the events, I would personally prefer a smaller calendar and a view of events and tasks :-). Perhaps I can help but Python is not my first language..

[2019-01-21 20:48] aceisace commented on #1
@Ahbrown41
Hi, thanks for your interest in this project and for providing a new feature suggestion  :).

I have not (yet) given any thought about using Google calendar API. I'm not familiar with the Google Calendar API myself, but from a small search, it's basically something like a shared calendar which others can view (and edit). Are there any advantages of Google Calendar API compared to a 'nor

[2019-01-24 21:07] #17 closed

[2019-01-28 20:47] aceisace commented on #1
@surak @zAm1987 @smartroad
As the available free space on the E-Paper is reaching a critical stage, I'm trying to re-arrange the layout of the generated image. The main improvement is the space at the bottom, which can be used for a variety of purposes, especially text. With this, it should be possible to display a list of events or tasks. What are your opinions on this matter?
Preview:
<img src="

[2019-01-30 13:46] zAm1987 commented on #1
I think more usable space is always a good thing ob such a small display.

As i had always planned for myself to customize the layout in order to display more text items, I generally like the direction the new version ist heading to.

I am just a bit unsure whether another separator /  title between the calendar-part and event-part or more space for the text-list is the better variant for the actu

[2019-01-31 08:59] zAm1987 commented on #1
Okay, that sounds reasonable. A consistent look is worth a few lines of text :)

[2019-02-03 16:12] aceisace commented on #18
@schneekluth
Hi, very sorry for the late reply. I've been ill so I couldn't work as well this week.
Please take a look at the new installer ([Installer with debug](https://github.com/aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather/blob/master/Installer-with-debug))
I've implemented the feature of updating, installing and uninstalling the E-Paper Calendar software.

**Good news:** Today,

[2019-02-03 16:12] #18 closed

[2019-02-03 17:04] aceisace commented on #1
## Update
### The E-Paper Calendar software has been updated from v1.4 to v1.5 just recently (Early February).
It contains some new features (metric/imperial, 12/24hour support, events being displayed as text) and new layout with slightly smaller icons. There have also been quite a few back-end changes, which can be found along with more details on this release in the [Changelog](https://github.co

[2019-02-03 17:15] aceisace commented on #1
@surak @zAm1987 @smartroad
Hi, the new release (v1.5) has been published just now. Could I ask you to test the new release? That would help confirm if everything is running stable. Many thanks.

P.S.: To update, simply (re-)run the Installer and choose 'installing/updating'. If you're 'settings.py' file does exist in the /Calendar directory, the installer will back it up in the home directory.

[2019-02-05 15:19] aceisace commented on #1
**Quick update:**
As the installer has (slightly) changed since the release of v1.5, not everything could be tested in detail. I spotted a bug with some indents while using 'EOF' in the installer.

In short, if you recently updated to v1.5, please re-run the installer. It contains a fix where the script would not autostart at boot.

[2019-02-05 20:58] surak commented on #1
Do I have to "install" again or a git pull will suffice?

[2019-02-05 21:02] surak opened #19 "Remove hardcoded directory"
Since the directory cloned is "E-Paper-Calendar-with-iCal-sync-and-live-weather", it makes no sense for it to expect this to be at "/home/pi/E-Paper-Master".

One can refer to files from his own directory and relative paths.

[2019-02-05 21:44] aceisace commented on #1
You can just select the 'update' option when running the installer.
It updates the libraries, rename your current 'E-Paper-Master' folder to 'E-Paper-Master-old' and cloning the latest version of the software. What's more, it (re-)sets up supervisor so almost all version related issues can be fixed that way.

The main problem is the software config file for supervisor, which handles the auto-start

[2019-02-05 21:49] aceisace commented on #19
You do have a point. Could you provide a suitable suggestion then? Thanks

[2019-02-05 22:19] surak commented on #1
It didn't work. I guess it had to do with my settings file, so I just moved it out of the way and made a clean clone.

- The installer file is not set as executable. I'm not sure if git respects permissions.
- ./Installer-with-debug: line 84: fin: command not found
- There's some forced pip install. I had all running, and there's no need to force install them again
- fatal: destination path 'E-Pap

[2019-02-05 23:01] aceisace commented on #1
I fixed the bug with line 84, must have been a typo. As with the first point, I could just now use the installer as intended. As with the forced pip install, it'll be fixed when I have time to elaborate the installer.

As with point4, please try the following:
Delete `E-Paper-Calendar-with-iCal-sync-and-live-weather` from your home directory. Select the uninstalling option from the installer. Afte

[2019-02-05 23:11] surak commented on #1
Traceback (most recent call last):
  File "E-Paper.py", line 282, in <module>
    main()
  File "E-Paper.py", line 57, in main
    calibration()
  File "/home/pi/E-Paper-Master/Calendar/calibration.py", line 27, in calibration
    epd.display_frame(epd.get_frame_buffer(red))
UnboundLocalError: local variable 'red' referenced before assignment

[2019-02-05 23:19] aceisace commented on #1
As this issue already is quite long and contains some outdated information, I'm going to open another issue specific for the current version (v-1.5) and close this one.

For all participants. thank you very much for all of your improvement ideas, bug reports and opinions.

[2019-02-05 23:19] #1 closed

[2019-02-05 23:22] aceisace opened #20 "Support, Discussion, Suggestions, Critics for v1.5"
Here you have an option to chat about improvement ideas regarding v1.5 of the E-Paper Calendar software.

As usual, nothing and nobody is perfect, but we can strive to get closer towards that. Please post your comments in a friendly way and remember to be nice. Thanks for your understanding.

All improvement ideas are welcome.

[2019-02-06 21:25] aceisace commented on #1
@surak
I don't see this error on my side and I've tried using both versions in the settings.py file. As I can't re-create this error, I cannot help you with that specifically. My best guess would be to update again.

I've updated the Installer so that these points are fixed:

* ./Installer-with-debug: line 84: fin: command not found
* There's some forced pip install. I had all running, and there's

[2019-02-09 13:13] Ahbrown41 opened #21 "Invalid Alarm Action"
Hello,
I have the newest software, the new version looks great, I love that I can now see the upcoming calendar items and the new layout is nice!

I am however struggling with getting the iCal feeds to work.  Any of my private ones appear to generate messages like below.  Do you have any ideas on how to stop these?

If I grep the ICS I see the following actions:

ACTION:AUDIO
ACTION:DISPLAY
ACTION

[2019-02-09 20:04] aceisace commented on #21
@Ahbrown41
Hi Alex,
thank you for your interest in this software and for the compliments of the new version :)

I need to take a deeper look to find out where exactly the issue lies. I‘ll get back to this on Monday as I‘m not at home at the moment. On Monday, I‘ll let you know more about it.

For now, could you please tell me what action you‘re using as triggers for events? Thanks in advance

[2019-02-10 13:13] Ahbrown41 commented on #21
It appears  NONE throws it off.  I will look for some examples that are not private :-)

[2019-02-10 14:55] zAm1987 commented on #20
I tried a fresh install of raspian stretch lite with the installer (option 2) for the new version.
After the first try somehow the E-Paper-Master folder was empty and so there was no script to start.

During my second try I watched the installer and it worked well. Only the description says "nano ... settings.py", but the filename is "settings.py.sample".

Also I tried a manuel calibration, becaus

[2019-02-10 22:49] aceisace commented on #20
@zAm1987
Hi, it seems as though there were some conflicts with the Installer and the new version.
The error above seems to be caused by 2 different versions (v1.4 and v1.5) running in the same environment.

The best way to fix this is by backing up modified files form the E-Paper-Master directory (should normally only be the settings.py file) to the home directory. Then, please re-run the installe

[2019-02-10 23:15] aceisace commented on #21
@Ahbrown41
Thanks for your help. It seems there are quite a few issues with ics.py parsing iCalendar URLs. Although there are fixes available, it would maybe be better to switch to a updated or more advanced library, like the icalendar one ([see here](https://github.com/collective/icalendar)). What's your opinion?

[2019-02-11 13:28] zAm1987 commented on #20
@aceisace

The question is how the two different versions came into place, because as I described it was a completely fresh Installation from an untouched raapian stretch lite image.

Anyway, I will try the uninstalling and reinstalling option and report whether it works or not ;)

[2019-02-11 21:10] aceisace commented on #21
@Ahbrown41
I've more or less understood where the errors are coming from. I'll try finding a fix for this issue and add it in the E-Paper.py file. On the other hand, if you manage to find a way that prevents these errors, please share it here. Thanks in advance

[2019-02-11 23:54] aceisace commented on #21
@Ahbrown41
OK, I've tested out a few things. For now, this is the solution that works:
Could you please try to see if the error from your icalendar persists when using the below snippet? Thanks.
[code]

[2019-02-12 00:10] aceisace commented on #19
For now, I think I'll leave it as it is. Otherwise things might get a bit overly complicated. In the next release, I'll try doing something about it.

I'll be closing this issue for now. If you need to re-open it, please feel free to do so.

[2019-02-12 00:10] #19 closed

[2019-02-12 07:55] aceisace commented on #20
@zAm1987
I‘ve found the cause for this error. In settings.py, line 27 should have been indented but it wasn‘t. I‘ve just now fixed and tested the calibration module for the 2-colour display. It should work just fine now.

[2019-02-12 18:50] zAm1987 commented on #20
@aceisace

I used the uninstall option and installed again. I can confirm that the calibration now works as it should.

The settings.py file however is still missing after the install option.

And again, the Icons and the font looks somewhat distorted. I am not sure if this was the case with the older version, but it seems that everything is pixelated. Maybe the script still thinks it's a 3-color-

[2019-02-12 19:55] aceisace commented on #20
@zAm1987
It's good to hear that the calibration module works as expected.
I'll look into the missing settings.py file again.
For now, please type in the following commands in the terminal:
[code]

In regards to the slightly disorted icons, this is a non-desired side-effect caused by switching from specially formatted .BMP icons to standard .JPEG icons. Up to v1.4, all icons were rotated, inverted

[2019-02-12 21:26] zAm1987 commented on #20
@aceisace

Ah okay, somehow i missed the switch to the jpg format. Sounds reasonable and I can understand it. Thanks for the explanation. :)
I will try to play around with the icons, when I finally have an bit more time.

For the missing settings file I already nano'ed into the sample file and saved / renamed it in order to fix it ;)

[2019-02-12 22:33] aceisace commented on #20
@zAm1987
Sound good :)
Keep me updated when you make some progess with the icons. Thanks.

[2019-02-14 14:40] aceisace commented on #21
I've tested out the snippet from above which 'bypasses' the invalid Alarm action. I've tested the new snippet for a few days and so far, no errors have shown up.  Therefore, I've replaced the old snippet with the new one (from the above comment).

As this issue has been fixed, I'll be closing it now. Should you feel a need to re-open the issue, feel free to do so.

[2019-02-14 14:40] #21 closed

[2019-02-14 14:46] aceisace commented on #1
@surak
I've found the cause of the error:
`UnboundLocalError: local variable 'red' referenced before assignment`
There was slight error with the indented regions in the calibration file. It has been fixed now so you can try 'updating' to fix the error/s. A few more issues have also been fixed (related to iCalendar and sorting of events) so it's definetely worth updating.

[2019-02-14 15:39] surak commented on #1
Cool! When the update failed, I came back to my fork (with the big clock), but I would like to keep it up on par with yours. Thank you.

[2019-02-14 21:44] aceisace commented on #1
You're welcome :)

[2019-02-16 00:45] aceisace commented on #20
For anyone interested, here is a breakdown on how long the main programm takes for each section:
* Preparing monthly Calendar template: **<1s**
* Connecting to openweathermap api servers and fetching data: **17 seconds**
* Filtering upcoming events: **<3s**
* Converting Image to Data and sending it to the display: **60-70 seconds**
* Refreshing E-Paper-Display: **6s** for black-white, **16s** for

[2019-02-18 21:51] jankosso commented on #20
The Alert issue is quite annoying, because all my calenders use them.

Can you elaborates a little bit, what causes this issue?

[2019-02-18 22:24] aceisace commented on #20
@jankosso
The Alert issue is supposed to have been fixed in the last few days. It consists of this section:
[code]
The fix_e (fix error) line is meant to fix alert-based errors, at least for Google Calendar. I am using this myself and can confirm that it works with Google (i)Calendar.

The main issue lies with the ics.py python library [(see here)](https://github.com/C4ptainCrunch/ics.py). The ics

[2019-02-19 08:13] 7n2jju commented on #20
Hi, I just report problem when week_starts_on = "Sunday" is used and fixed it.

This causes an error like:
[code]
So, I just removed line 82 in E-Paper.py that calls `draw(weekplace, weeksun)` following to the case Monday and it worked fine when week starts from Sunday.

[2019-02-19 08:55] aceisace commented on #20
@7n2jju
Hi, thanks for finding the bug. I've just now removed line 82 from the E-Paper.py file on this repo to make sure it doesn't happen again.

[2019-02-20 20:28] jankosso commented on #20
Regarding the Google calendar issue:

@aceisace thanks for the info, i dug a little deeper into that lib and i think i found the issue.
Your workarround only fixes Alert=None issue, but the library also doesn't work with Alert=Email.
In the alarm.py you can read, that is still a ToDo ;-)

`def get_type_from_action(cls, action_type):
        # TODO: Implement EMAIL action
        if action_type ==

[2019-02-20 22:02] aceisace commented on #20
@jankosso
Thank you very much for taking your time to research about the iCalendar issue and finding a way to solve the issue :)  :100:
I'll test out the recommended change tomorrow and will implement it as soon as I can confirm that it works.

[2019-02-21 19:15] aceisace commented on #20
@jankosso
I've tested out your suggested fix for the `raise ValueError('Invalid alarm action')` and have implemented the change on the master branch. Thanks for contributing :+1:

[2019-02-25 21:34] aceisace commented on #20
**Quick update:**
The software was recently updated. Some of the main improvements are:
* Added events_max_range parameter in the settings.py file. See the list in the README for more info
* The space below the Calendar is used more efficiently. The Display will now display all events that can fit below the monthly Calendar. Depending on how much space there is, there may be 4 or 6. displayed even

[2019-02-27 12:12] Clickbaitcake commented on #20
Is there any possibility of getting a _Day View_ similar to that in Outlook? This would really help me keep on top of my day. The moving bar shows the current time and how far into the next meeting block I should be.
Example screenshot attached.

What do you think?

![image](https://user-images.githubusercontent.com/39263203/53489341-dd0b9d80-3a88-11e9-985f-208f8759391d.png)

[2019-02-27 12:24] multimedial commented on #20
Hello,

I am from Duesseldorf, and found your project via the Waveshare page when trying to test my e-Ink Paper display.

I got an issue after installing your code and editing the settings.py file accordingly - the free API key provided from OpenWeatherMap is apparently not entitled to pull down the current weather forecast.

I was also wondering if I could discuss a project I am working on with y

[2019-02-27 13:49] aceisace commented on #20
@Clickbaitcake
Hi Secprentice, thanks for suggesting a new feature. The daily view is certainly possible but will require some time to finish. I'm estimating it'll take at least a few weeks, but it might be finished faster (or slower) than that.
As the space on the Calendar is almost used up, I can only implement the daily view by replacing the monthly Calendar. Does this sound like a good comprom

[2019-02-27 14:08] aceisace commented on #20
@multimedial
Hi, thanks for your interest in the E-Paper software, for your comment and your compliment :)
You did mention about an issue where your key was not entitled to get weather _forecasts_ .

As there is no error message attached, it's a bit difficult finding out where exactly the issue lies. But these are the tips I can give you for now:

* Make sure that your api-key is in string format

[2019-02-27 14:15] multimedial commented on #20
@aceisace
Thanks for getting back to me. The API key issue has vanished in the meantime, I think the key was not active yet when I started my experiments, I got everything to work now and am already tinkering with the code.

I would like to suggest to make the panel modular. There is a similar project, the magic mirror one (https://magicmirror.builders/) where the content to be displayed can be ch

[2019-02-27 14:29] aceisace commented on #20
@multimedial
Glad to hear your issue was fxed :)
Thank you for the suggestion about the MagicMirror2 project. I am familiar with the MagicMirror and use the software on a 42" LCD display at home. I really like the project, the repo and the modular software of the MagicMirror.

I'm also been thinking that it's about time to make the software modular, but unfortunately, there are still ways to go fo

[2019-03-04 20:56] aceisace commented on #20
@zAm1987
Hi, it's been a while. I've updated the software so that it can display the generated image much better now.
By evaluating each pixel of the generated image before sending it to the E-Paper, it's now possible to give each pixel a value of pure white, pure black (and pure red if using the 3-colour display), hence solving the problem with the 'jagged edges'.
I have tested it myself and have

[2019-03-05 19:28] zAm1987 commented on #20
@aceisace

You're really putting effort into this project, keep up the good work! ;)

I just used the "update"-method of the installer, modified the settings file again and tried to run E-Paper.py. Somehow it failed, while the old version worked fine with the same settings (albeit the last time I tested it was some weeks ago). Still not working after a reboot, too.

The script output says:
[code]

[2019-03-05 22:37] aceisace commented on #20
@zAm1987
Hi, thanks for your compliment and for testing out the new software :)
Are you, by any chance, using a non-google Calendar? The error you're getting seems to be related to recurring events. As this feature was just recently (a few days ago) implemented, it's possible it might not be working as expected. I'd like to apologise for the inconvience.

In the meanwhile, you can bypass the Error

[2019-03-06 18:38] zAm1987 commented on #20
@aceisace
I'm using Google Calendar, so this should not be the problem.

I deleted the specified lines in the E-Paper.py file and now it works. The text and the icons are crisp and sharp, I think even sharper than before the switch to the jpgs. Looks great!

[2019-03-06 19:30] aceisace commented on #20
@zAm1987
I'll take a deeper look at the cause of the error and for a way to fix it. But at least you can use the new software now.
I'm glad to hear that the icons and text look much more readable now :)
Now that this problem is solved, I can finish the RSS-feedparser in the next few days. You can look forward to that as well.

[2019-03-11 01:45] arustleund commented on #20
Hi there! I've encountered another bug in the ics library... I have an alarm trigger like this:
`TRIGGER:P0D`
Apparently the ics library can't handle this, it expects a + or a - in front of the P. I ran this through an ICS validator and it passed, so I think this is valid iCal.
Since we don't really need the alarms anyway, could we just remove all alarms from the calendar before sending it on to t

[2019-03-11 10:10] aceisace commented on #20
@arustleund
Hi arustleund. Thank you for your interest in this software and for providing the bug-fix for invalid alarm triggers (for the ics.py library). As alarms are not supported by this software anyway, it would make sense to remove them from the parsed iCalendar if they are causing bugs.

Are you getting this error while using Google Calendar? I've not seen this type of error so far so it wo

[2019-03-11 11:58] arustleund commented on #20
Yes, I’m using Google Calendar. I also confirmed by reading the specification that this is a valid duration value.

[2019-03-11 13:41] aceisace commented on #20
@arustleund
Thanks for the info. I'll start with the implementation soon.

[2019-03-11 14:00] arustleund commented on #20
@aceisace No problem. I just realized a slight optimization of my code would be to do the second (END) "find" call starting at beginAlarmIndex. Also up to you if you want to be more defensive about the possibility of a missing END:VALARM (which would be invalid ics).

[2019-03-12 15:24] multimedial opened #23 "Error after installing the software"
RPI zero on Jessie Lite

The main program complains about missing python-numpy package after installation - did I do something wrong? I ran the script from the repo page:

[code]

[2019-03-12 17:04] multimedial commented on #23
That's ok, just wanted to know if I had missed anything.-------- Originalnachricht --------Betreff: Re: [aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather] Error after installing the software (#23)Von: Ace An: aceisace/E-Paper-Calendar-with-iCal-sync-and-live-weather Cc: multimedial ,Mention @multimedial
Hi. thanks for pointing this out. I'll look into this asap and will fix this. As soon

[2019-03-12 18:34] aceisace commented on #23
@multimedial
You didn't miss anything. It was a bug in the installer that caused this type of error. Basically, it should have been `sudo apt-get install python3-numpy`. I've just now fixed all bugs in the installer I could find by testing it myself on Raspbain Stretch Lite. If you select the update or install option in the installer now, it should work as expected.

If you find any more bugs, fee

[2019-03-12 18:52] multimedial commented on #23
Will check. Thanks for your work!

  Ace <notifications@github.com> hat am 12. März 2019 um 19:34 geschrieben:

 @multimedial You didn't miss anything. It was a bug in the installer that caused this type of error. Basically, it should have been sudo apt-get install python3-numpy. I've just now fixed all bugs in the installer I could find by testing it myself on Raspbain Stretch Lite. If you select

[2019-03-12 19:11] multimedial commented on #23
Sorry, there is still an issue...

`The install was successful
The programm is set to start at every boot.
Please enter your details in the file settings.py.
If this file is not modified, the programm will not start
To modify the settings file, enter:
nano /home/pi/E-Paper-Master/Calendar/settings.py
You can test if the programm works by typing:
python3.5 /home/pi/E-Paper-Master/Calendar/E-Paper.p

[2019-03-12 19:12] multimedial commented on #23
Sorry, there seems still to be an issue...

`
The install was successful
The programm is set to start at every boot.
Please enter your details in the file settings.py.
If this file is not modified, the programm will not start
To modify the settings file, enter:
nano /home/pi/E-Paper-Master/Calendar/settings.py
You can test if the programm works by typing:
python3.5 /home/pi/E-Paper-Master/Calendar

[2019-03-12 19:16] multimedial commented on #23
I'd like to point out however that I haven't adapted the settings.py file just yet...

[2019-03-12 19:41] multimedial commented on #23
Sorry, this isn't an issue any more, I had forgotten to install all libraries for the paper as pointed out py Waveshare.

[2019-03-12 19:41] #23 closed

[2019-03-12 22:02] aceisace commented on #23
@multimedial
I'm glad you could fix the issue yourself. Normally, this software is independet form waveshare so conflicts of that sort should not even exist.
I think in your case, the error:
[code]
is caused due to the SPI not being activated. For reference purposes, I'll write the fix here anyway:
`sudo sed -i s/#dtparam=spi=on/dtparam=spi=on/ /boot/config.txt`
Running the above command will acti

[2019-03-13 09:17] Clickbaitcake commented on #20
It might be a good idea to start breaking out issues into different threads. I have never seen a github repo with multiple issues inside one giant issue. What do you guys think?

[2019-03-13 13:27] aceisace commented on #20
@Clickbaitcake
Hi, thanks for your suggestion. I don't mind anyone opening up an issue for any reason. As you can see, there were several other issues which were closed after being resolved.

The reason I created this 'giant' issue to provide an option to formally share suggestions, discuss features and give feedback to the author (myself) about the software. Compared to the 'normal' issues you kn

[2019-03-17 00:12] aceisace commented on #20
@arustleund
Hi, I've implemented the bugfix you suggested in your comment earlier along with some other improvements. As I did not originally have any issues due to `TRIGGER:P0D` in my iCalendar, may I ask you to test the new script to see if it works as expected? Thanks in advance.

[2019-03-17 15:16] arustleund commented on #20
Looks good, although your fix_e_1 fix_e_2 bug fix lines are no longer necessary and can be removed.

[2019-03-17 15:17] Ahbrown41 commented on #20
New code is working well with my calendars!  The only issue is my screen appears like it is ghosted and the lines are not fully drawn..  Hope it is not suddenly my ePaper, I upgraded using the shell script method.  Any ideas?

[2019-03-17 16:13] aceisace commented on #20
@arustleund
Thanks for testing, for your code form earlier and for your feedback. I've uncommented those lines in question (fix_e_1 & fix_e_2) in the E-Paper.py file. If you have any more suggestions, feel free to mention it here :)

[2019-03-17 16:19] aceisace commented on #20
@Ahbrown41
Hi Alex, thank you very much for testing out the latest version. I just realised a bug this morning in the E-Paper file where the timer was not working as expected. I apologise for that. I've fixed it earlier today so that may be the cause for the ghosting. You can run just the calibration module a few times to fix the ghosting like this: `python3.5 /home/pi/E-Paper-Master/Calendar/cali

[2019-03-19 00:35] aceisace commented on #20
@multimedial
@Clickbaitcake
Hi, I've not yet had the chance to start with the 'Daily View' feature just yet, but I'll start with that soon. In the meanwhile, if you want to use the Daily view feature asap, you may want to check out the [fork from mgfcf](https://github.com/mgfcf/E-Paper-Calendar), where this feature has been implemented. On this fork, I'm estimating that it'll take a few weeks at l

[2019-03-19 04:34] mauricecyril commented on #20
Hi aceisace, thank you so much for making this available. I tried mgfcf's fork of your repository using the Portrait Day List view. The display starts to render however the loop gets the following error:

'''

_________Starting new loop___________
Date: Tue 19 Mar 19, time: 00:22

Fetching weather information from open weather map
Fetching events from your calendar
Fetching posts from your rss-fee

[2019-03-19 11:48] aceisace commented on #20
@mauricecyril
Hi, since the fork of @mgfcf is a lot different from this one, it's difficult for me to debug any errors. From what I understand about the error, it seems that the file 'LoopTimer.py' in the Calendar folder, which handles update-timings requires integers, not strings. You may want to give the author of that fork (mgfcf) a shout about this error.

To make it easier to seperate issues

[2019-03-19 12:00] aceisace opened #24 "E-Paper Calendar fork from mgfcf"
### mgfcf's E-Paper Calendar fork

Amongst the forkers of this software,, mgfcf (Max G.) has been working hard on the E-Paper software refactoring. Apart from some more design options, it's also modular so it's easier to modify.

I am very thankful to Max G. for taking the time on refactoring the E-Paper software. But since there is hardly any 'perfect' software, bugs and errors can still occur. T

[2019-03-19 12:33] mauricecyril commented on #24
Thanks Aceisace. Hi Max G.

I tried the Portrait Day List view and display starts to render however the loop gets the following error which stops the loop:

'''
Starting new loop__
Date: Tue 19 Mar 19, time: 00:22

Fetching weather information from open weather map
Fetching events from your calendar
Fetching posts from your rss-feeds

Starting to render
Converting image to data and sending it to t

[2019-03-19 15:39] mgfcf commented on #24
Hey mauricecyril,

as aceisace already pointed out, it seems to be an issue with the type of the update_interval. The LoopTimer works with integers. It seems, that you were trying to use a string, which lead to some type errors.

You could just removed the quotations from your update_interval (e.g. "15" => 15) or use the updated version, in which I provided a solution, that converts the update_int

[2019-03-20 22:14] aceisace commented on #20
Since the development in the last few weeks was quite fast, I thought it would be nice to share the updates with everyone:

* **Improved image quality:** Before the image is sent to the E-Paper display, a set of operations are done to the generated image to ensure it can be displayed correctly. The result is an image with crisp colours. Despite the improvement, it takes less than a second to proce

[2019-03-20 23:30] mauricecyril commented on #24
Thank you so much. I removed the quotations in the settings.py for the duration and calendar loop works now.

[2019-03-20 23:34] mauricecyril commented on #20
Amazing update aceisace. Would it be possible to have an option for a pure dynamic agenda view? For example:  https://goo.gl/images/XmBieY

[2019-03-21 00:21] aceisace commented on #20
@mauricecyril
Hi, I'm glad to hear you like the updates :)

A dynamic agenda is certainly possible, but will take a lot of time to develop. It's definitely a feature I'd like to implement as soon as I can, but there are some issues I'm working on.

Agenda views and other frequently updated views (for example a Day View) require several updates per hour (a good value would be every 5 minutes). With

[2019-03-21 02:26] mauricecyril commented on #20
Thanks so much aceisace for this amazing project and for all the features you've planned :)

For the Agenda view would it still be able to pull only once every hour (to preserve the life of the screen) instead of 5 mins?

For the eink screen the less frequent refreshes that still provide a view of the upcoming agenda items would still work. Ie. Agenda items refreshed once an hour but populate any

[2019-03-21 11:02] aceisace commented on #20
@mauricecyril
You're welcome :)

Yes, it should be possible to update the Display once an hour, instead of 5 minutes (by specifying the update-interval in the settings.py file). But according to the Datasheet of the manufacturer, (see here: #1 ), the lifetime of the E-Paper Display is 5 years or 1 000 000 updates, whichever is reached first. It basically comes down to one update every 5 minutes, s

[2019-03-21 11:10] Clickbaitcake commented on #20
@aceisace I think that a 15 or 30min refresh for day view would be more than enough, at least in my environment. I'm sure nobody's calendar moves around that much?

Earlier when I talked about Exchange I ment connectivity to a Microsoft Outlook mail server backend with thier calendar system. They use a service called A[ctiveSync ](https://docs.microsoft.com/en-us/previous-versions/office/developer

[2019-03-21 11:15] aceisace commented on #20
@Clickbaitcake
@multimedial
Hi, the next feature I'm working on is a more detailed view of the Calendar (for example a Day View or as suggested by @mauricecyril, an Agenda View). Both of these are pretty similar in the sense that they show event times and names. In my opinion, the suggestion from the Agenda View is slightly better as it utilises space a bit more efficiently (which is spare on the

[2019-03-21 15:43] aceisace commented on #20
@Clickbaitcake
Thanks for your opinion on the update-interval matter. I'll leave the udate-interval as it is then (ranging from 15 mins to 1 hour). Manual updates are not not yet implemented, but if there are more users that find this useful, I'll implement this feature as well.

In regards to the Exchange connectivity, I've done a small research about it and now have an idea of what it is. The pr

[2019-03-22 16:02] aceisace commented on #20
@Ahbrown41
Hi, I've got some good news. I found the bug that caused the problem with incorrectly rendered images on 3-colour E-Paper displays. It was a typo made a few commits ago that caused this error. This has been fixed now and the code should now work as expected. Could you please test the new update to confirm this? Thanks in advance,

[2019-03-24 00:48] Ahbrown41 commented on #20
Cool thanks!  I will try it this weekend :-)

[2019-03-24 19:11] aceisace commented on #20
@Ahbrown41
Thanks. If there are any issues, please let me know so I can fix them.

[2019-03-25 20:21] Jooosch commented on #20
Hi,
I've got the following errors after installing:
sudo python3.5 /home/pi/E-Paper-Calendar/Calendar/E-Paper.py
Traceback (most recent call last):
  File "/home/pi/E-Paper-Calendar/Calendar/E-Paper.py", line 33, in <module>
    from icon_positions_locations import *
  File "/home/pi/E-Paper-Calendar/Calendar/icon_positions_locations.py", line 19, in <module>
    weekday = im_open(opath+'weekday.p

[2019-03-25 20:45] aceisace commented on #20
@Jooosch
Hi, thank you for pointing this out. I must have forgotton to change the path in the icons_positions_locations.py file. I'm sorry for that. You can either update using the installer or just change this line in the file ` icon_positions_locations.py`, locacted in `/home/pi/E-Paper-Calendar/Calendar:

`path = '/home/pi/E-Paper-Master/Calendar/'`
to
`path = '/home/pi/E-Paper-Calendar/Calenda

[2019-03-25 21:03] Jooosch commented on #20
Thanks for the fast reply 👍 Problem Solved

[2019-03-25 21:07] aceisace commented on #20
@Jooosch
You're welcome :)

[2019-03-30 20:40] Jooosch commented on #20
Now I'm getting another error in the E-Paper-err.log file:
Traceback (most recent call last):
  File "/home/pi/E-Paper-Calendar/Calendar/E-Paper.py", line 36, in <module>
    import pyowm
ImportError: No module named 'pyowm'

But pyowm seems to be installed:

sudo pip install pyowm
Requirement already satisfied: pyowm in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: geojson

[2019-03-30 22:27] aceisace commented on #20
@jankosso
Hi Jooosch, sure, I'll gladly help you again :)

I'm not sure why this exact error message is appearing in your E-Paper-err.log file as this type of error should not occur under normal circumstances (i.e. running a non-modified version of the E-Paper.py file and using the SLI (single line installer)).

For starters, please delete the log files like this:
`cd /home/pi/E-Paper-Calendar &&

[2019-04-02 23:48] aceisace commented on #20
**Good news:**

You can now fully set up the main details required by the programm by using the user-friendly web-interface.

To use the new WEB-UI, simply double-click the file `Settings-Web-UI.html` located in `/home/pi/E-Paper-Calendar/Calendar/` to open up the document with the browser (Chrome etc.). Next. fill in the details and click on **generate** to create your settings.py file. Lastly, c

[2019-04-03 06:16] Jooosch commented on #20
@aceisace thanks for your fast help.  As I tried to fix it with pip3 the pyowm worked, but I've got the next error with ics. I think that was a Python problem. Because there is just the Calendar running on my piZero and I couldn't fix this issue I formatted it and etched a new rasbian image and installed the calendar again.  Now it's working. Thanks for your great work.

[2019-04-03 08:57] aceisace commented on #20
@Jooosch
Hi Jooosch, you're welcome :)
I think that the installer did not run properly on your system, hence the problem with the ics. But I'm glad to hear that you managed to get it working again.
If there are any more issues, feel free to report them here. Thanks in advance.

[2019-04-04 11:02] Ahbrown41 commented on #20
Hello again!
The app is looking great, the colors and text is nice and clear, thank you!
I am wondering if I am the only person, but the days events below the calendar show events that are over a year old, so not sure what is going on there.  The machine does have the correct date.
Is there a way to make it show times for the events vs the date?  When a lot is on one day?

Thanks again!

[2019-04-04 14:28] aceisace commented on #20
@Ahbrown41
Hi, glad to hear the software is now working as expected. I'll look into this issue, probably tonight, and will look for fix soon. Once it's ready, I'll add it to the repo and will notify you.

About the event happening in the same day, currently, it's a bit difficult to 'squeeze' in the time. Replacing the date with the event time doesn't seem like a good option either (non-consistent)

[2019-04-05 21:09] aceisace commented on #20
@Ahbrown41
Hi, quick update. As a temporary fix, you can replace this line:
if events.begin.date().month == today.month:

with:

if events.begin.date().month == today.month and events.begin.date().year == today.year:

Do let me know if it works. Thanks in advance.

[2019-04-08 07:16] mgfcf commented on #20
If you are still interested, you can take a look at my [fork](https://github.com/mgfcf/E-Paper-Calendar). There I have just implemented an agenda-list design. Let me know if you encounter any problems or want some design changes.

[2019-04-08 19:52] aceisace commented on #20
@mgfcf
Hi Max, your agenda-view look awesome! Looks like you managed to finish the Agenda View faster than myself. I'm also not so far off from finishing the Agenda view, but there are still some annoying bugs in the ics.py library that need some fixing.

[2019-04-09 00:41] aceisace commented on #20
I've got some new features in mind so I wanted to ask for some opinions first before working on them.

* The **settings.py generator (web-ui)** saves the generated file to the 'Downloads' folder. Currently, the user has to copy the file manually to the correct location. Should this be automated? For example, a crontab job could check if a settings.py file exists in the 'Downloads' folder and if it

[2019-04-09 01:26] mauricecyril commented on #20
Hi Max @mgfcf , I tried the agenda-list option in the settings file of the latest fork and am getting the following errors:

[code]

[2019-04-09 06:46] mgfcf commented on #20
Hey @mauricecyril, I looked into this and pushed a fix to my repo that hopefully solves the error.

[2019-04-09 06:58] mgfcf commented on #20
Thanks @aceisace , I am glad to hear that!

Here some thoughts to the features:

For usability it would be nice to have the file automatically placed in the right folder. To avoid using a cronjob that would run dead in background, you could work with ajax and php to transmit the file to the "server" as mentionend in this [stackoverflow anser](https://stackoverflow.com/a/15723705). But I basically

[2019-04-09 11:57] mgfcf commented on #20
Hi @Clickbaitcake ,

I have just finished the day-view on my [fork](https://github.com/mgfcf/E-Paper-Calendar). You can give it a try, if you are still interested. It may be useful to decrease the update_interval.

So far, nothing special was added in regards of exchange.

Feel free to open an issue or comment if you have any ideas/problems/etc. regarding the design or the general application.

[2019-04-11 02:54] Ahbrown41 commented on #20
@aceisace Would love an automatic update!

[2019-04-11 21:47] aceisace commented on #20
@Ahbrown41
Hi, thanks for your feedback. I'll add this on my list and will work on the auto-update feature in the coming days. For now, I'm thinking of adding an option in the settings.py file to enable auto-updates. That way, users will be able to choose if they want to activate this feature,

[2019-04-11 21:58] aceisace commented on #20
@mgfcf
Hi Max, thanks for your opinion. I did some research on how to solve the issues about the auto-updates. The server side part seems a little complicated, so I'd like to avoid that if possible. The auto-updates can be handled by a bash script which will run at a certain time (with crontab). The script will check if an update is available, and attempt to update automatically. If it fails, then

[2019-04-17 16:58] ericwass opened #26 "Installer not working as expected"
Hi,
I've followed all the installation instructions but cannot get an image on my Waveshare 7.5in three color display.

* **Version info;**
_Version: 1.5
Installer version: 1.5 (Early February 2019)
configuration file: /home/pi/E-Paper-Calendar/Calendar/settings.py
If the time was set correctly, you installed this software on:
Tue Apr 16 16:11:34 PDT 2019_

**Error output:**
[code]

* **Changes ma

[2019-04-17 17:40] mgfcf commented on #26
Hi @ericwass ,
it seems like there is something wrong with you path. I have no complete insight in the code, but it may work, if you change the path in `icon_positions_locations.py` which should be located in `/home/pi/E-Paper-Calendar/Calendar/`.

Change the 12th line
`path = '/home/pi/Calendar/Calendar/`
to
`path = '/home/pi/E-Paper-Calendar/Calendar/`.

[2019-04-17 17:48] aceisace commented on #26
@ericwass
Hi, thanks for joining Github, your interest in this software and for notifying about the bug. I'm working on this at the moment so hopefullly it'll be fixed by today. I apologize for the inconvenience so far and will notify you as soon as it's fixed. Thanks for understanding.

[2019-04-17 17:48] ericwass commented on #26
Thank you. That definitely solved one of the problems. Right now I'm still
getting this:

*pi@raspberrypi*:*~/E-Paper-Calendar/Calendar $* sudo python E-Paper.py

SyntaxError: can not delete variable 'image' referenced in nested scope

But moreover, I'm just concerned that the Pi doesn't see the e-paper
display properly. I've never been able to get an image on there and none of
the Waveshare demo

[2019-04-17 17:55] aceisace commented on #26
@ericwass
The bug is causing a bit of a domino-effect. All these errors are related to the incorrect path.
I can suggest these things for now:
* Have you already done the setup from the README? ([Click here to view the setup](https://github.com/aceisace/Inky-Calendar#setup))
* If you've done that already, check what the downloaded folder with the E-Paper software is called. It should be called 'In

[2019-04-17 18:00] mgfcf commented on #26
Hey @aceisace ,
in the given error-message it looks like the path is `E-Paper-Calendar` instead of `Inky-Calendar`, but the set path in the icon_positions_locations.py-file is actually `Calendar/Calendar/`, which cannot be correct.

The exception also mentions `python3.5` in its path.

[2019-04-17 18:03] ericwass commented on #26
Thank you for the helpful replies.

I did follow the README set up very carefully. I also followed the
Waveshare setup step by step.

I generally was using python3.5 but then I just tried old python to see if
it made a difference.

The directory was actually called E-Paper-Calendar, not Inky-Calendar. I
have changed it.

Here's what I got:

*pi@raspberrypi*:*~/Inky-Calendar/Calendar $* python3.5
/

[2019-04-17 18:54] ericwass commented on #26
Sorry, I realize there was a typo in line 19 that I fixed. That cleared up
that error. I then started getting another error:

*pi@raspberrypi*:*~/Inky-Calendar/Calendar $* python3.5
/home/pi/Inky-Calendar/Calendar/E-Paper.py

_________Starting new loop___________

Date: Wed 17 Apr 19 Time: 11:42

Traceback (most recent call last):

  File "/home/pi/Inky-Calendar/Calendar/E-Paper.py", line 445, in

[2019-04-18 14:56] aceisace commented on #26
@ericwass
Hi again, sorry it took so long but the installer has been updated and tested now.

 I'd recommend you use a fresh install of Raspbain (Lite or Desktop) and use the installer again. If that is too difficult, you can try using the update function of the installer. If something doesn't work right, you can try uninstalling the software (using the installer) and re-installing it after that.

[2019-04-18 15:04] ericwass commented on #26
No need to apologize at all. I appreciate everything you’re doing. I’m
prepared to wipe and start over with a fresh install of Raspbian. But can
you clarify one thing for me: do I need to install the Waveshare files
first (or at all)? I went through a whole long procedure of installing the
Waveshare stuff after I installed Inky Calendar thinking it might help but
it didn’t.

On Thu, Apr 18, 2019 a

[2019-04-18 15:25] aceisace commented on #26
@ericwass
Hi, thanks for your kind words :).

About the waveshare files, please do not install anything from waveshare as it will cause some collisions with this library as they are not compatible in the same environment. One of the reasons is that the waveshare files only support python2.x, while this library uses only python3.x. What's more is that there are differences in how the image data is

[2019-04-18 18:12] ericwass commented on #26
Ok, did a full wipe and reinstall of Raspbian and followed your
installation instructions exactly. Seem to be having an error with Google
calendar now.  Any thoughts?

*pi@raspberrypi*:*~ $* python3.5 /home/pi/Inky-Calendar/Calendar/E-Paper.py

_________Starting new loop___________

Date: Thu 18 Apr 19 Time: 11:07

Connecting to Openweathermap API servers...

weather data:

Temperature: 75 °C

Hum

[2019-04-18 18:19] ericwass commented on #26
Sorry, scratch that. I provided a bad Google Calendar link. Right now it's
waiting on "Initializing E-Paper Display" I'll let you know if I get past
this point.

On Thu, Apr 18, 2019 at 11:12 AM Eric Wasserman <ericwass@gmail.com> wrote:

[2019-04-18 18:39] ericwass commented on #26
Yeah, so 20 minutes later it's still stuck on "Initializing E-Paper
Display." I don't know how to diagnose if there's something wrong with it,
or I've got it connected incorrectly or what. Yesterday the Waveshare
python demos kept throwing the error "E-Paper display is busy" but, as you
noted, I had both yours and Waveshare's drivers competing with each other.
You've already been extremely helpful

[2019-04-18 20:27] aceisace commented on #26
@ericwass
Hi, I'm been using the software from today and so far there haven't been any errors. From that, I'd say the problem is not software-related, but rather hardware related. I'm just taking a wild guess, but I'd say it might be a problem with the connections.

Just in case, could you please attach the following:
* An image of the E-Paper display from the front side (to see if the E-Paper is

[2019-04-18 20:55] ericwass commented on #26
Yeah, my hunch is that it's hardware related too. I was even wondering if I
was supplying the Pi enough power so I stepped it up but it didn't fix it.
I couldn't find your PayPal link in the README so I tried by using your
email address. But PayPal wants your full name and country. So let me know
that info or send me the link and I'm happy to throw you some cash.

Here are the pictures. The displa

[2019-04-18 21:12] aceisace commented on #26
@ericwass
I think the power supply is most likely not the issue. It hardly makes a difference powering the E-Paper display since they consume almost no power (only when updating, and at most a few milliamps).

I'm sorry to tell you this, but the images you uploaded can't be seen in the comment. I can only see the image-filenames but not the actual images themselves. Could you try uploading them di

[2019-04-18 21:17] ericwass commented on #26
Donation sent!

![unnamed 2](https://user-images.githubusercontent.com/49699625/56391789-872fb800-61e4-11e9-9848-9c349769af05.jpg)
![unnamed](https://user-images.githubusercontent.com/49699625/56391801-9282e380-61e4-11e9-874a-dca22977f19d.jpg)
![unnamed-1](https://user-images.githubusercontent.com/49699625/56391811-99a9f180-61e4-11e9-9f94-1cbd83fc26bb.jpg)
![unnamed-2](https://user-images.githubus

[2019-04-18 21:39] aceisace commented on #26
@ericwass
Thank you very much for your donation :) You're awesome :100: :1st_place_medal:!

From the images, it seems as though all cables are connected correctly. Your GPIO headers are also firm and the driver hat configuration is also correct. That only leaves the E-Paper. It was a bit strange that you could manage to access the E-Paper (via SPI) but not receive a signal from the E-Paper telling

[2019-04-18 21:51] ericwass commented on #26
You're more than welcome. I appreciate your hard work and will no doubt be
asking you for more help in the future. To be honest, I didn't even notice
that crack on the display. Waveshare has been terrible about responding to
my technical support inquiries. Hopefully they will be better about
arranging a replacement. In any event, it will likely be a couple of weeks
before I have a new one and am r

[2019-04-18 22:14] aceisace commented on #26
@ericwass
Hi Eric, I'm glad to hear that the cause of this problem could be found.
You're most welcome to ask for any more help regarding the Inky-Calendar. I hope you can get your E-Paper replaced easily form waveshare. They do indeed offer very slow technical support, but replacements are normally handled much faster than that.
Best Regards, Ace

Since the purpose of this issue has been fulfille

[2019-04-18 22:14] #26 closed

[2019-04-19 09:27] aceisace commented on #20
## Quick update:
The single-line installer has been updated recently. Here are the changes so far:

**Version1.5 -> 1.6 with lots of improvements**

The installer now contains some optimisations during installation and updating. When selecting the update or install option in the installer, it will ask whether or not you want to update the system.

Dependencies will be installed when selecting the

[2019-04-21 22:10] aceisace commented on #20
@multimedial @Clickbaitcake @mauricecyril
I'm finalising the agenda view so I wanted to ask for your opinions. This is the current design of the agenda view:
<img src="https://user-images.githubusercontent.com/29558518/56476063-de0de980-6491-11e9-8316-4b5c0a5b2bdb.png" width="400">

There are 14 lines available for the agenda view. It displays dates and events in chronological order from the next

[2019-04-22 05:57] multimedial commented on #20
Hello This looks good, yet for my specific purposes, I would like to see the screen be configurable. Like the language (I can help localizing), and the display of the upcoming dates. The current day would be enough , plus the next day eventually...But it looks good!Let me know if you need help with a configuration webfrontend.-------- Originalnachricht --------Betreff: Re: [aceisace/Inky-Calendar]

[2019-04-22 06:18] mgfcf commented on #20
Hey @aceisace ,
I do like this design very much. The line separation of day and event is interesting and makes it look a little less dense.

Due to the very limited space on the display, the big title containing the name of the design "Agenda View" seems a little unnecessary. And in most cases, that probably is not very interesting for the user. :D

[2019-04-22 06:46] multimedial commented on #20
HiSorry to hijack this thread but I am on mobile.How about adding an option for a Google assistant or Amazon Alexa? The speaker for 6€ on Amazon that I showed you, aceisace, has also a built-in microphone.I haven't managed to get it working via Bluetooth yet but it should be possible. That would allow for voice commands for the content on the display to be changed."Alexa show me the agenda for the

[2019-04-22 13:54] zAm1987 commented on #20
@aceisace
I like the idea with the date shown in a separate line and therefore having more space for the event entries. In addition to that, I'm with **mgfcf** and think the "Agenda View" headline is a bit unneccessary.
Also, what happens with the space below the 14 lines, if no RSS feed is specified? Does it stay empty or can the space used for more event lines then?

Anyway, keep up the good wor

[2019-04-22 18:00] aceisace commented on #20
@multimedial
Hi, thanks for your feedback :).
About the customisation options, it should be relatively easy to change the language of the dates, especially with arrow, so I can add this on the to-do list. Restricting the current timeline (14 days) to 2 days would leave a lot of free space on the display (if there are no events in the next 2 days, then 12 lines would be blank). I'm not sure if that

[2019-04-22 18:03] aceisace commented on #20
@mgfcf
Hi Max, thanks for your feedback and compliment :)
I'll keep your suggestion in mind and will remove the heading so more lines are available for dates and events.

[2019-04-22 18:09] aceisace commented on #20
@zAm1987
Hi, thanks for your feedback and your compliment :)
I'll remove the title of the page to create more space for events and dates.
About the rss-feed, you have a point that if there is no rss-feed, it would stay blank. I'll make this dynamic by adjusting the size of the agenda view to minimise the free space on the Display.

[2019-04-24 17:12] anglewf opened #28 "Error during connection using weather API"
We get this error when trying to run the code. We have set the API key in the setting.py and not sure what the problem is. Thanks for your help

[code]

[2019-04-24 19:36] aceisace commented on #28
@anglewf
Hi, thanks for interest in this software and for opening your first issue :).

About the error you're getting, it seems to be related to a 404 error (i.e. not found error). As this may be caused by a variety of reasons, please try the following first to narrow down the cause,
* If you've just created your api-key from openweathermap, please wait a few hours so that your key is active. In

[2019-04-26 13:13] aceisace commented on #28
@anglewf
Hi, has your problem been solved now?
If yes, please don't forget to close this issue, otherwise, please provide some additional feedback. Thanks in advance.

[2019-04-29 09:33] aceisace commented on #28
Closing issue due to lack of feedback. If you feel a need to re-open the issue, please feel free to do so.

[2019-04-29 09:33] #28 closed

[2019-05-03 04:53] bbence84 commented on #24
This is a really an awesome project, I have already set the hardware and the software up, and it works perfectly! I have couple of questions though:
1. I would like to translate the interface to my language (Hungarian). Are the texts in the mgfcf fork coming from system texts? I have tried to set the language to 'hu', and even edited the TextFormatter.py to add a new item ('hu') to the two list of

[2019-05-03 10:56] aceisace commented on #24
@bbence84
Thanks for your interest in this project :).

About your questions, @mgfcf can answer your first question in much more detail than me. If you are interested, you can help with the translation on the main branch by providing the following:
* Full month names, 2-/3-letter abbreviations for weekdays.

About the second question, it's a bit hard to give a strict value as there are many factor

[2019-05-03 13:15] mgfcf commented on #24
Hey @bbence84 ,
welcome to this project :D

The text is not to 100% system text, but most of it. I was already planning to work on that and am able to do it the next days.
You are missing the necessary datetime-locale, which is defined in the Assets.py-file. There you find a dictionary with the language related to the locale. I am now going to add most of the missing locales, so that an update wil

[2019-05-03 19:19] aceisace commented on #20
## Quick Update
The new release is nearly ready. It will be released next week on the stable branch. You can already try out the new version by using the installer in the master branch.

As suggested by users about the initial Agenda View, the headline has been removed to provide more space for events. By splitting the E-Paper display into three sections (top, middle, bottom), users can now choose

[2019-05-03 19:27] aceisace commented on #20
@multimedial
I'm working on the localisation feature now. I'm estimating that it'll be ready by the end of next week.
About the voice interaction, I searched for some better options (i.e. lightweight, low-cpu consumption, good accuracy, offline support) and came across [Porcupine](https://github.com/Picovoice/Porcupine).

Do you think this is suitable for the voice interaction purpose you suggeste

[2019-05-03 20:39] ericwass opened #30 "Outdated Calendar Events"
# Submitting Issues

Finally got a working Waveshare e-ink 3-color display and got Inky Calendar up and running. However, while it is displaying the correct date the list of events on the bottom are very old (some weeks, some years). Also the sunrise/sunset times are very strange and, I assume, connected to a different timezone. Any thoughts?

[2019-05-03 21:57] aceisace commented on #30
@ericwass
Hi again ericwass :)
I'm glad to hear you've managed to get the software up and running.

I apologise for the bug with the outdated events. This bug was reported in issue #20 and a bugfix also being tested right now. It's basically caused by filtering events from let's say May, without restricting the year, leading to events that would normally be in past/future years. As you probably kn

[2019-05-03 22:21] ericwass commented on #30
Sorry, I didn't see that bug report (I actually still don't see it, even with the link you sent). But I made the adjustments to the E-Paper.py line 256. However that doesn't seem to have fixed the problem. Not sure why not.

The sunrise/sunset bug was, in fact, due to improper system time. I actually had set it but for some reason I guess it reset itself. That is fixed.
![Screen Shot 2019-05-03 at

[2019-05-04 22:56] aceisace commented on #30
@ericwass
Hi, sorry for the late reply. I'm glad to hear the sunrise/sunset time issue could be fixed. Most likely, the reason the time reset itself was due a system update.

About the bug in the events fetcher, thanks for your feedback. I'm going to take a deeper look of the cause for the problem in the next coming days. You don't need to apologise since the bug could not be fixed until now.

Was

[2019-05-04 23:16] ericwass commented on #30
I don't believe there was a difference before and after I changed line 256.
Today the events are different than yesterday but also very old. Is there a
simple reliable way to stop the Inky-Calendar process? If so, that would
make it easy to troubleshoot. I could stop it, change the line back to the
original and then restart it.
Thanks

On Sat, May 4, 2019 at 3:56 PM Ace <notifications@github.com>

[2019-05-05 11:23] aceisace commented on #30
@ericwass
Hi, thanks for your feedback. It'll be useful fior finding the error.

You can stop the auto-start feature of the Inky-Calendar software with this command:
`sudo service supervisor stop E-Paper`
To find out the satus, you can use the following command:
`sudo service supervisor status E-Paper`
And re-enable the auto-start feature with this command:
`sudo service supervisor start E-Paper`

[2019-05-05 12:24] bbence84 commented on #24
Thanks! Based on your suggestions, I managed to get it to work, with the following observations and limitations:

- In EventListDesign.py, there's a dictionary more_texts that also contains translated texts, so I added 'hu' there too
- The setlocale line in E-Paper.py does not work with 'hu', only if I changed it to:
locale.setlocale(locale.LC_ALL, '') (I also changed the environment variables to

[2019-05-05 23:52] ericwass commented on #30
I've tried starting and stopping the service, rebooting the RPi, etc.
Nothing changes. The weird thing is: most of the events that it's
displaying did not happen on this date in any year. There's a couple from
2014, one from 2010 but only one took place in May and it was May 4th, not
today, May 5th. The one good thing is: one of the events listed (on the
bottom) is accurate and did happen today.

[2019-05-06 09:11] mgfcf commented on #24
Thanks for the reply!

- In the next commit I added a simple dictionary to make things easier.
- Now, there is also a more dynamic way of setting the locale, using the locale package to retreive a list of available locales, already as dictionary with the according language key. Now including an option to set the encoding of the datetime locale in the settings file.
- I've looked into the language

[2019-05-06 18:05] aceisace commented on #30
@ericwass
Thanks for the info. It's a bit strange that the events are off not only by the year, but also months. This will be useful for debugging. As soon as there is a fix, I'll let you know.

[2019-05-08 01:15] ericwass commented on #30
I don't know if this is helpful but the erroneous events that it shows are
the same ones every day. And they were all recurring events at some point
in the past. So my guess is that somehow your parser isn't recognizing that
the recurrence period is past. I could be totally wrong because I don't
know how to code but it's my best guess.

=Eric

On Mon, May 6, 2019 at 11:05 AM Ace <notifications@git

[2019-05-08 02:40] mauricecyril commented on #20
Hi aceisace, I noticed that the script would fail occasionally if there's an interruption in the internet connection while the screen was updating. Found a guide to set up an infinite restart script to automatically retry the application when it fails (is. Will behave like an Arduino and run code in an infinite loop) via https://www.alexkras.com/how-to-restart-python-script-after-exception-and-run

[2019-05-08 17:30] ericwass commented on #30
Hmmm... commenting those lines didn't seem to work (I restarted the service and the RPi)
![image](https://user-images.githubusercontent.com/49699625/57395060-f6615200-717b-11e9-94eb-6bf43b1e094b.jpeg)
All of these are old, recurring events. My actual events aren't there. Also, now there's a new (and very, very old) event at the bottom. (Pig is the cat, by the way)

[2019-05-08 17:52] aceisace commented on #30
@ericwass
Thanks for testing the proposed changes.

If those did not work, could you please test what happens when the entire recurring-events section is missing? I've attached the modified E-Paper.py file so you can just copy it to your system:
[E-Paper.zip](https://github.com/aceisace/Inky-Calendar/files/3158691/E-Paper.zip).
Thanks for testing.

[2019-05-08 18:00] ericwass commented on #30
That worked perfectly! Wow. Now I can really use it.

On Wed, May 8, 2019 at 10:52 AM Ace <notifications@github.com> wrote:

[2019-05-09 10:15] aceisace commented on #30
@ericwass
Glad to hear that it works now :). I'll take note of the changes from the attached E-Paper.py file and will implement them in the next release sometime this week. If you notice any more bugs/errors, please feel free to report them via mail or opening an issue.

Thank you very much for your help and for testing out the proposed changes :100:

[2019-05-10 08:35] mgfcf commented on #24
Hey @bbence84 ,
I've now added a simple translator, based on the local dictionary, so that the short_description of the weather can now be translated too. You simply need to add the translations for your language in the format:
`'en' : 'Rain',
'hu' : 'Eső'`

If you want, you can open a pull request after that or simple send me the dictionary file, so that I can add the hungarian translations to th

[2019-05-12 13:36] bbence84 commented on #24
Awesome, I have ran the update and filled in the Hungarian dictory. Works perfect! The only thing is that my Unicode characters font was overwritten, but I can restore it. :) I will send the dictionary file soon. Thanks again!

[2019-05-12 13:40] bbence84 commented on #24
I have another issue, not sure if it's an issue in the fork or the original or maybe even if it's an issue in my setup. I am using the Waveshare 3 color e ink display with a Pi Zero W. The problem is that the screen does not seem to refresh after a while. I have set it to have it refreshed every 10 minutes, yet the the calendar events stay the same. According to the log, the refreshes are going th

[2019-05-12 13:54] mgfcf commented on #24
So, if I understand you correctly, the software is running successfully in the background, but your screen does not seem to perfom the described updates?

I had several times issues with the connection. If the screen behaved weird, I just carefully unplug the cables of the display driver and plug them back in again, to make sure that they have full contact.

If you want to see some more informatio

[2019-05-12 17:54] aceisace commented on #20
# New Release
With the next release (v1.6) being ready for the official launch, I wanted to ask some volunteers to test out the new software. Along with the new Agenda-View, it contains support for many more languages (and more coming) as well as a lot of back-end improvements. If you've read this comment, why not give the new software a try? If you notice any issues, problems or errors, please wr

[2019-05-12 18:02] aceisace commented on #30
@ericwass
Hi Eric, just wanted to let you know that the new release is ready for the official launch. Along with the bugfixes, it contains the Agenda-View, support for many more languages and many back-end improvements. Before I make the release official, may I ask you to test out the new software? You can update the software with the installer.

Please use the settings-web-ui to generated the set

[2019-05-12 18:02] #30 closed

[2019-05-12 20:42] bbence84 commented on #24
Thanks! It works kind of but sometimes does not refresh the screen. It seems to be random. I have enabled the print_technical_data and also the render_to_file. I just caught a case where the design_exported.png contains a recent calendar, whereas the screen itself did not refresh. Then it refreshed the next time. What could be the reason? There's nothing in the error log. Maybe the screen is fault

[2019-05-13 05:34] mgfcf commented on #24
That may be the case. Try out lower frequency like 20 minutes.

A calibration, to prevent ghosting, takes ca. 15 minutes. That may be the cause for some missing refreshes, but you would still see the display calibrating and, if I remember correctly, you modified the calibration_hours to reduce the calibrations. To shorten the time a calibration needs, you can set the calibration cycles down to one

[2019-05-13 15:54] zAm1987 commented on #20
@aceisace
How can I try the new version? Simply by running the "normal" installer as before or do I have to use an other installer? I'm asking because of the transition-warning on the project-page...

[2019-05-13 17:11] aceisace commented on #20
@zAm1987
Hi, thanks for willing to test the new software :)

I'm sorry, I should have said something about the transition-warning as well. You are correct, you have to run the only installer just like before. I put the warning on the readme so new users don't attempt to intall the software when the new software is being tested.

[2019-05-14 17:27] zAm1987 commented on #20
@aceisace
Somehow the installer does not generate the web-gui file or the .../Calendar folder in general. Tried from a fresh raspian stretch lite with either the install or update function from the installer.
In addition when finished the "do you want to upgrade your operating system?" part it just does not go on with the rest. Error output says nothing special....

Could you please take a look, i

[2019-05-14 17:43] ericwass commented on #20
Trying out the new version and not getting weather nor any of my events...
![image](https://user-images.githubusercontent.com/49699625/57719647-10e07300-7635-11e9-83cd-b19a5f6eac9d.jpeg)

[2019-05-14 17:54] ericwass commented on #20
Tried recreating a new settings file with the web interface and ended up getting errors:
Date: Tue 14 May 19 Time: 10:50

Connecting to Openweathermap API servers...
weather data:
Temperature: 64 °C
Humidity: 72%
weather-icon name: wi-fog
Wind speed: 1km/h
Sunrise-time: 5:52
Sunset time: 7:46
Cloudiness: 90%
Weather description: Haze

Internet connection test passed

Fetching events from your cale

[2019-05-14 18:35] aceisace commented on #20
@ericwass
Hi Eric, about the missing weather, I figured out the reason. It was a typo in the web-ui file (weather-label for top-section was named incorrectly) and has been fixed just now. I apologise for that. You can just update and the problem will be fixed.
Regarding the iCalendar error, it seems that this error is caused by an incorrect iCalendar URL as the error was raised while decoding the

[2019-05-14 18:43] aceisace commented on #20
@zAm1987
Hi, it seems as though there are some problems with the compatability of the installer on Raspbian Stretch-Lite. The cause is linked to some changed/missing packages that are not present on Stretch. I'll add a note of this behaviour in the README.
In regards to the missing 'Calendar' folder, I'd guess it's related to the recent problem of the Installer on Raspbain Stretch Lite, so this pr

[2019-05-14 20:21] ericwass commented on #20
Updated and fixed iCalendar error. Now it just hangs on "Fetching events"

I triple-checked the iCalendar setting. It's copied directly from Google
Calendar's private calendar link...

Date: Tue 14 May 19 Time: 13:07

Connecting to Openweathermap API servers...

weather data:

Temperature: 70 °C

Humidity: 60%

weather-icon name: wi-fog

Wind speed: 2km/h

Sunrise-time: 5:52

Sunset time: 7:46

Cl

[2019-05-14 22:42] ericwass commented on #20
For what it's worth, this is the what I see when I interrupt the hang...

Date: Tue 14 May 19 Time: 13:50

Connecting to Openweathermap API servers...

weather data:

Temperature: 72 °C

Humidity: 60%

weather-icon name: wi-fog

Wind speed: 2km/h

Sunrise-time: 5:52

Sunset time: 7:46

Cloudiness: 20%

Weather description: Haze

Internet connection test passed

Fetching events from your calendar

[2019-05-15 05:57] zAm1987 commented on #20
@aceisace
 I'll try it with full raspian stretch this afternoon.
If this information helps: The last version however runs without problems on raspian stretch lite.

[2019-05-15 10:03] aceisace commented on #20
@zAm1987
Sure, do let me know if it works as expected on Raspbian Stretch with Desktop. Also, thanks for the info regarding the last version. I'll do some more trial-runs to test the installer on Stretch Lite.

[2019-05-15 10:52] aceisace commented on #20
@ericwass
I just re-tested the Agenda-View design using my own google iCalendar URL. It seems to be working fine, from what I see here:
[code]
It did take around 10 seconds to parse these events from my iCalendar so I think that if you have a lot of events, it will take much longer, but it shouldn't be hanging.

Could you try using the 'Calendar' design for the middle section and test if the probl

[2019-05-15 14:06] zAm1987 commented on #20
@aceisace
I tried the installer it with a fresh full raspian stretch and did not used the "upgrade operating system"-option. Now everything went smooth and the displays shows a very nice and crisp agenda view.
My only "critic" is that events (day long, without specific time) which are going on for a few days are only shown on the first day and not the following days, too.

In addition there seem t

[2019-05-15 17:42] aceisace commented on #20
@zAm1987
Thank you very much for testing the new software. I tried to 'upgrade the operating system' on Raspbian Stretch with Desktop and it seems to be working fine. On the other hand, Lite still has some issues with the Installer.

Thanks for pointing out the bugs. About the multi-day events only showing up on the first day, I've taken a note of this behaviour and will fix it soon enough.

In re

[2019-05-15 18:04] ericwass commented on #20
I've tried both Agenda and Calendar view for the middle section and it
still hangs - am I'm not talking a few minutes, I'm talking up to an hour
before I give up. I changed the code as you suggested but it hasn't made a
difference. There really aren't that many events (and, in fact, I hope to
add 3 more calendars eventually) so I'm not sure what's going on. And,
again, this exact calendar worked i

[2019-05-15 18:38] aceisace commented on #20
@ericwass @zAm1987
I've found the problem causing the loop to get stuck when fetching events. It seems that ics.py (the package that parses the iCalendar) is still somewhat buggy.

The only change made in the section that parses the events is a new function (from the ics package), which has problems correctly filtering events in a given range. I will take care of this bug by reverting the changes

[2019-05-15 18:41] ericwass commented on #20
Ok. Glad you found the problem. Let me know when you get it back up and
running. I was really enjoying having it working.
Thanks

On Wed, May 15, 2019 at 11:38 AM Ace <notifications@github.com> wrote:

[2019-05-15 19:39] aceisace commented on #20
@ericwass
Thank you as well for testing out the software and helping a lot with debugging :100:

[2019-05-16 06:06] zAm1987 commented on #20
@aceisace
Yes I am living in UTC+2 (Berlin Timezone). But my calendar events are set in UTC+2, too. And the problem did not occur in the last version...or at least hast not caught my attention .

[2019-05-16 20:53] aceisace commented on #20
@zAm1987
I've done some more research on this issue. It seems the ics.py library always sets the start-time of any event to utc, regardless if the timezone is specified in your iCalendar.

The last version also had the same issue, but as you realised, it didn't catch your attention since only the date of events was shown, not the time.

I'm working on a way around this problem by setting the timez

[2019-05-17 10:02] aceisace commented on #20
@ericwass @zAm1987
OK, I've managed to fix some of the bugs related to the parsing and handling of events. For now:
* Events that stretch out over more than 1 day will be displayed corectly now
* The times of events should be displayed properly now, regardless in which timezone you might be living in.
* The algorithm to fetch events in a given time was reverted to the one from the last version. As

[2019-05-17 18:00] ericwass commented on #20
No luck for me. Updated and re-launched with my settings. This is what
happened:

*pi@raspberrypi*:*~ $* python3.5 /home/pi/Inky-Calendar/Calendar/E-Paper.py

_________Starting new loop___________

Date: Fri 17 May 19 Time: 10:57

Connecting to Openweathermap API servers...

weather data:

Temperature: 65 °C

Humidity: 39%

weather-icon name: wi-day-sunny

Wind speed: 4km/h

Sunrise-time: 5:50

Su

[2019-05-17 18:47] aceisace commented on #20
@ericwass
Sorry for that, I forgot to fix that when selecting 'Calendar' as the middle section and 'Events' as the bottom section. You should still be able to get this working by using 'Agenda' and 'RSS'.

As soon as it's fixed, I'll let you know.

[2019-05-17 19:01] ericwass commented on #20
That worked. However time remains in 24hr format even though settings.py
specifies 12hr.

Thank you!

On Fri, May 17, 2019 at 11:47 AM Ace <notifications@github.com> wrote:

[2019-05-17 19:18] aceisace commented on #20
@ericwass
Thanks for the info, I'm glad to hear it works. I've implemented the bugfix for 'bottom_section' == 'Events' just now. It should no longer cause any problems.

About the 24 hour/12 hour format, I'm going to work on that now. As soon as it's ready, I'll let you know.

[2019-05-17 19:30] aceisace commented on #20
@ericwass
OK, I finished a bit faster than expected. The support of 12/24 hours in the agenda view has been implemented just now.

[2019-05-17 19:35] ericwass commented on #20
Great. Should I just replace a file or do a full update?

On Fri, May 17, 2019 at 12:30 PM Ace <notifications@github.com> wrote:

[2019-05-17 19:35] aceisace commented on #20
Just replacing the E-Paper.py file will be sufficient this time, since no other files were changed recently.

[2019-05-17 19:36] ericwass commented on #20
How do I do that? Do you send it to me or is there a way to download only
that?

On Fri, May 17, 2019 at 12:35 PM Ace <notifications@github.com> wrote:

[2019-05-17 19:38] ericwass commented on #20
Sorry. Answered my own question. GitHub

On Fri, May 17, 2019 at 12:36 PM Eric Wasserman <ericwass@gmail.com> wrote:

[2019-05-17 19:40] aceisace commented on #20
You can paste the following commands in the Terminal:
`cd /home/pi/Inky-Calendar/Calendar`
`rm E-Paper.py`
`wget https://raw.githubusercontent.com/aceisace/Inky-Calendar/Stable/Calendar/E-Paper.py`

[2019-05-18 14:33] aceisace commented on #20
## Announcement
### The E-Paper Calendar software has been updated from v1.5 to v1.6 just recently (Mid May 2019).
It contains a lot of improvements, the most significant ones being the agenda view, multiple languages, and the web-ui (credit to TobyChui). You can see all changes since the previous release in the **[Changelog](https://github.com/aceisace/Inky-Calendar/blob/Stable/Changelog.md)**.

[2019-05-18 14:33] #20 closed

[2019-05-18 14:37] aceisace opened #34 "Support, Discussion, Suggestions, Critics for release v1.6"
Here you have an option to chat about improvement ideas regarding release v1.6 (Mid May 2019) of the E-Paper Calendar software.

As usual, nothing and nobody is perfect, but we can strive to get closer towards that. Please post your comments in a friendly way and remember to be nice. Thanks for your understanding.

All improvement ideas are welcome.

[2019-05-20 17:20] zAm1987 commented on #34
I tested the new version today and it's simply great. Even the problematic (second) ical from my wife works now.

There are still some really minor things but these are really nitpicks:
1. Some characters have (H and U so far) have an strange "small side". A Pictures follows...
[
![IMG_20190520_191017](https://user-images.githubusercontent.com/46342498/58039868-47862400-7b34-11e9-8024-410ddf33c9bd

[2019-05-21 02:22] aceisace commented on #34
@zAm1987
Thanks for your feedback about the new release. I'm glad to hear that the software now works with both of your iCalendars and that you like the new agenda view :)

Regarding the slightly less-readable characters, it should get slightly better after some fine-tuning of the image pre-processing. Once I have some satisfying results, I'll let you know so you can test it out.

As for the weath

[2019-05-21 02:24] aceisace commented on #19
@surak
I've implemented the relative-path feature and removed the hardcoded directory with the new release.

[2019-05-21 02:39] aceisace commented on #20
@mauricecyril @Clickbaitcake
Just a quick update in case you didn't receive the news. The agenda-view has been implemented in the new release (v1.6). You can test out the new release by updating the software via the installer.

What do you think about the current agenda-view? Thanks in advance.

[2019-05-22 07:01] surak commented on #19
Cool! I have to merge your stuff! Thanks!

[2019-05-29 11:37] aceisace commented on #34
@zAm1987
I've made some adjustments to the image pre-processing operations so that the text will be displayed slightly better now. The (detailed) weather description is now localised. To make space for the detailed weather description, the sunrise/sunset timings have been 'merged', showing only the next sun-event (e.g. if the sunset is coming next, the sunset time will be displayed and vice versa)

[2019-06-01 17:48] lasercow5 commented on #34
HI 1.6 looks awesome, thanks for all the hard work! As a suggestion could you add a last updated time to the calendar?

[2019-06-02 13:29] aceisace commented on #34
@lasercow5
Hi, thanks for your interest in this software as well. I'm glad to hear you like the new update :)

About the suggestion, a few users have suggested this feature, so I think it's about time to implement this as well. Do you have an idea on how and at which place of the display this info (last updated) should be? Thanks in advance.

[2019-06-02 18:38] lasercow5 commented on #34
It can be somthing as simple as `update = time.strftime("%I") + ':' + time.strftime("%M") + ' ' + time.strftime("%p")` and the bottom right corner seems like a good spot. Or possibly to the right of the month just under the weather section.

[2019-06-02 19:22] aceisace commented on #34
@lasercow5
Thanks. I also agree that the place at the bottom right corner seems suitable fot this task. I'll add this on the to-do list of this project and will work on it soon. Once I have tested everything, I'll let you know.

[2019-06-03 15:18] zAm1987 commented on #34
@aceisace

I tried to run the installer with the update function in order to test your latest changes. Interestingly this option is not accepted by the installer and the output looks like this
`pi@raspberrypi:~ $ bash -c "$(curl -sL https://raw.githubusercontent.com/aceisace/Inky-Calendar/Stable/Installer-with-debug.sh)"

Please select an option from below:
Enter 1  to update the E-Paper software

[2019-06-03 23:57] aceisace commented on #34
@zAm1987
Thanks for your feedback. I've not made any changes to the Installer in the last few days so it's a bit strange as to why the installer stopped working temporarily, but I'm glad to hear it works now.

I've also not made any changes to the event fetching section in the last few days either. For the agenda view, events that end within the next 22 days are filtered. This value (22 days) is f

[2019-06-04 05:48] zAm1987 commented on #34
@aceisace
The behaviour of not fetching all Events still occured after the latest update at least for two calibration cycles. This morning everything worked fine.
As I read of an widespread Google server outage, I think it was somehow related to this...

Regarding the latest changes, the characters Like the "H" are rendered much better now and I think the text looks a bit sharper in general, too.

[2019-06-04 22:54] aceisace commented on #34
@zAm1987
I'm glad to hear that the problem with the events was solved automatically. It was most likely related to google's server outage since I could not reproduce the mentioned problem today.

Thanks for your feedback about the readability of text on the display. It's nice to hear that the text is more readable now and that the weather description is being displayed in the set language correctl

[2019-06-10 23:35] zAm1987 commented on #34
The problem with the events occured again today.
Somehow only the events until friday are fetched and the days after friday are shown empty, despite events existing there.

Also, some events in the timeframe until friday are simply ignored and do not show up on the display.

A reboot did not fix this behaviour and until now I cannot see a pattern concerning the event-type or event-attributes which

[2019-06-11 01:02] aceisace commented on #34
@zAm1987
It's hard to pinpoint the cause of this error since I could still not reproduce this error on my end. Currently, there are two issues with the parsing of events:
* Recurring events are not currently supported to their difficulty of parsing
* Events which do not end within 21 days from today are not displayed. This means that some multi-day events may be missing on the Calendar
Other than

[2019-06-11 01:09] aceisace commented on #34
@lasercow5
Hi again, I've been working on the 'last-update' feature in the past few days. After testing several locations, I found the bottom line more suitable for this purpose. Below is a preview of the generated image:
<img src="https://user-images.githubusercontent.com/29558518/59236359-18744700-8bf6-11e9-8d41-e774158cd1f5.jpeg" width="300">

Does this look satisfactory or do you think somethi

[2019-06-11 14:48] zAm1987 commented on #34
@aceisace
I switched to calendar view and the circles / rectangles are drawn for the days with events that are not shown in the agenda view. The events section in the calendar view however shows events from the last days and not from the next days...

Interestingly, one (weekly) recurring event is displayed in the agenda view despite not being supported

[2019-06-11 23:31] aceisace commented on #34
@zAm1987
Thanks for your feedback. If the event-markers are shown correctly on the Calendar, the event parsing code must at least be filtering the events correctly.

To test the event-parsing snippet in more detail, I created some dummy events on my iCalendar and compared the events on my Inky-Calendar. Below are the results:

1) On Google Calendar:
<img src="https://user-images.githubusercontent.

[2019-06-12 06:58] zAm1987 commented on #34
@aceisace
I will try the modified version tomorrow.

Maybe it ist somehow related to the number of events, because right now it displays one more event, which was not shown before. It seems like it shows only ~14 events, which usually is a three to four day timeframe...

[2019-06-12 11:24] aceisace commented on #34
@zAm1987
As the space on the E-Paper is limited, the Agenda view will display as many lines as possible to fill the empty space, either with events or dates, whichever comes first in chronological order.

If the bottom section is not set to empty, there are fewer lines available (15) for the Agenda view. When the bottom-section is not set, there are 21 lines available.
Could you try using the Agen

[2019-06-12 18:25] zAm1987 commented on #34
@aceisace
I ran your modified version an the printed out list looks like this:

[code]

The corresponding image on the display is attached. As you can see, it somehow stops displaying "later" events from the future.

![new_image](https://user-images.githubusercontent.com/46342498/59376271-11f9e280-8d50-11e9-87d2-7f8abdd9b2f8.png)

To show the difference I also attached an older image, which goes m

[2019-06-13 21:24] aceisace commented on #34
@zAm1987
Hi again. Thanks for your feedback. Thanks for the log with the unfiltered and filtered list. I now have a clue on what is causing this behaviour. You were right that events towards the bottom section have been missing without a reason.
The problem was caused by 2 things:
* ics.py has a bug where full day events are off by 2 days (in the future). The software only fetched events that end

[2019-06-16 18:41] lasercow5 commented on #34
The last update time look awesome! i've been having this issue with the calendar setting the start of the week to be Sunday `Traceback (most recent call last):
  File "E-Paper.py", line 519, in <module>
    main()
  File "E-Paper.py", line 225, in main
    image.paste(weekday, weekday_pos['pos'+str(now.isoweekday())], weekday)
KeyError: 'pos7'`
any idea why this is happening?

[2019-06-17 16:59] aceisace commented on #34
@lasercow5
I'm glad to hear you like the last-update feature. About the issue with the weekday-start on Sunday, thanks for letting me know. I'll fix that in the next few days. Once it's ready, I'll let you know.

[2019-06-18 21:42] aceisace commented on #34
@lasercow5 @zAm1987
As the main file is getting a bit too big to maintain a clear overview, I am going to do some refactoring on the code. This means that the main file will be chunked off into smaller parts, with each part being responsible for a specific task.
Doing so will make further development / debugging a lot faster, but it might take a few weeks to refactor the full code. The mentioned b

[2019-06-25 20:07] dkudlek opened #39 "Software crashes when setting weekstart to Sunday"
![E-Paper_error](https://user-images.githubusercontent.com/4218429/60128414-e2f16100-9792-11e9-8acc-70f91726842d.PNG)

When `week_starts_on = "Sunday"` and it is sunday the program crashes.

Issue can be repeated on every sunday.

[2019-06-26 12:05] aceisace commented on #39
@dkudlek
Hi, thanks for letting me know about this error. I am aware of this error from here: [weekstart-sunday problem](https://github.com/aceisace/Inky-Calendar/issues/34#issuecomment-502475848).
The problem is that since the software was growing at a pretty fast rate, it was getting difficult to debug/further develop any features without causing errors.
I am currently refactoring the software t

[2019-07-23 14:55] aceisace commented on #34
## Quick Update
I apologise to everyone for the delay with the new release. Due to a few personal circumstances, the development of this software was slowed down significantly. But now it is back to normal.

A large proportion of the new release is already complete. I'm working on the remaining parts while testing the completed parts. The new release is sheduled for next week and will make any fur

[2019-07-23 15:24] lasercow5 commented on #34
No need for apologies! Thank you for all the hard work. Looking forward to the new release.

[2019-07-24 11:22] aceisace commented on #24
## Update
As the branch of @mgfcf is independent of the the main branch, this issue will be closed. If you have any more questions/bug reports/ suggestions/ critics, you can open a seperate issue for that on the fork of @mgfcf . Thanks for understanding.

[2019-07-24 11:22] #24 closed

[2019-07-24 11:26] aceisace commented on #34
@lasercow5
Thanks for your comment :). I'm happy to hear you're looking forward to the new release.

[2019-08-11 21:04] surak opened #40 "Settings file not configured"
It does this:

![IMG_2181](https://user-images.githubusercontent.com/878399/62839614-3a3c8980-bc8c-11e9-8505-26fef59d7fd1.JPG)

[2019-08-13 05:56] aceisace commented on #40
@surak
Hi, I think the problem might be that the settings file is not configured yet. Could you please take a look at this section on how to generate the settings file?  [Creating a settings file](https://github.com/aceisace/Inky-Calendar#adding-details-to-the-programm)

[2019-08-13 06:05] aceisace commented on #34
##Quick Update
Due to a few personal reasons, I'll be out of country until mid October. I apologise for the delay in the development and the new release. Until I'm back, I'll still offer support for the current release in case there are some minor problems.

[2019-08-17 19:56] surak commented on #40
As I have the Pi inside of a glued box, connecting it to a screen is not an option. I'll scp the html and see what it does, then. I would rather have a functional settings file as it was before, though.

[2019-08-17 20:14] surak opened #41 "Multiple issues with calendars"
I have an "abfallkalender" - some app creates a calendar with the days of garbage here in Germany, which you know how it works.

As this thing creates a calendar, I shared it from iCloud, and it creates a webcal link. As this is just the garbage, here is the example URL:

[Link as webcal
](webcal://p33-caldav.icloud.com/published/2/MTMxNDQ2NDAxMzE0NDY0MIs4JThLcd2nh4XXItgMUl_XVRv5v22MZ9br9jNqMlgQR4

[2019-08-17 20:25] surak opened #42 "Weather forecast"
You know how I enjoy this  project. And to make it even more useful, my suggestion is that the weather should show the conditions for the rest of day instead of the current conditions (after all, we can just look outside for the current conditions).

The rationale is: "should I take an umbrella? Do I ride the bike or the car?"

[2019-08-17 20:25] surak commented on #42
ps: I like the number 42 of this issue

[2019-08-17 20:35] surak commented on #40
Ok, now I understand. That is the new "default" view. I'm not sure it's a good default, though.

[2019-08-17 20:35] #40 closed

[2019-08-18 06:36] aceisace commented on #41
@surak
Hi Alex, I'm glad you like the new version :)
That's interesting. I did exppect webcal iCalendar URLs to work, but it seems as though that is not the case here. In regards to the http protocol error, which version of ics and arrow are you using?

Thanks for sharing the info on how to get a webcal working with the software. It seems as though google is still the best option.

[2019-08-18 06:50] aceisace commented on #42
@surak
I'm glad you like the software :). Thanks for the suggestion about the weather forecast as well.

I'll try to implement this feature in the new release, although that will take some time. As the weather forecast does take up some space, I was thinking of adding an option for the bottom section (currently used for events or rss feeds) to display the weather forecast. Does this sound satisfac

[2019-08-18 08:06] mgfcf commented on #42
@aceisace
That is a great idea! Even though I do not use your calendar, a detailed weather section at the bottom sounds great to show a lot more details. Would it be possible to create some kind of temperature-graph as a way to visualize this?

[2019-08-18 19:04] surak commented on #42
No, that's the easy way :-)
I thought about better repositioning everything. We are not pixel-perfect yet, and there's a lot of space.

I thought about something before the calendar

Perhaps the code to position the days could be calculated in a proportion of the space available for the calendar instead of hardcoded, what do you think?

[2019-08-18 19:05] surak commented on #41
No clue. I fresh-installed the thing, and it gave me the error. Should I check?

[2019-08-19 10:34] surak opened #43 "Missing icon?"
I thought it should show something at the upper-left corner. In other weather conditions there's always something there.

![IMG_2276](https://user-images.githubusercontent.com/878399/63259028-a404f680-c27d-11e9-9732-817a52961d6d.JPG)

[2019-09-03 11:30] aceisace commented on #41
@surak
Sorry for the late reply.
I'll check this up myself and will provide the fix in the new release.

[2019-09-03 14:23] surak commented on #41
Hi, thanks! Or just let people know that it is a limitation of the ics library. Perhaps I should test it more and report to them!

[2019-09-04 13:37] n00b42 opened #44 "Wavefront 9.7inch E-Paper support"
Is it possible to use a Wavefront 9.7inch e-Paper HAT as well?

https://www.waveshare.com/wiki/9.7inch_e-Paper_HAT

[2019-09-05 06:07] aceisace commented on #41
@surak
I'll add a note about the limitation of the ics library when I'm back. If you could test the ics library more, that would be helpful.

[2019-09-05 06:15] aceisace commented on #42
@mgfcf
Hi Max,
thanks for your opinion about the weather section feature. A temperature-time-graph would definitely look awesome, but requires a lot of space. I'll have to test if that's possible with the limited space.

[2019-09-05 06:25] aceisace commented on #42
@surak
Do you have some kind of rough sketch to show a better layout of the weather information?
The new release uses relative positions instead of hardcoded positions. Everything is split into sections and space is allocated automatically.

[2019-09-05 06:27] aceisace commented on #43
@surak
Sorry, there is currently a bug with a few weather conditions. The problem is that the icon code for some weather conditions is not set correctly. This will also be fixed in the new release.

[2019-09-05 06:28] surak commented on #43
Thanks! :-)

[2019-09-05 06:34] surak commented on #42
I'm looking at the a picture of it here at work. I suppose all the displays are the same resolution, yes?

So, my suggestions:

Weather area:
- Remove weather condition (icon is enough)
- Remove dawn time
- Remove wind speed

With this, you have space for weather conditions for the next hours, say, every 2 hours, with a chance of rain for the day.

For the main area:
- The month is huge and there'

[2019-09-05 06:56] aceisace commented on #44
@n00b42
Hi, thanks for your interest in the Inky-Calendar software :)
To answer your question, it is possible to use the software on the 9.7" E-Paper display from waveshare. This specific repo only supports the 7.5" variant, but I made one specifically for the 9.7"one here:
[9.7 inch Inky-Calendar software](https://github.com/aceisace/9.7-E-Paper-Calendar-software)

Unfortunately, I don't actually

[2019-09-13 10:08] ahobitt opened #45 "Python 3.7 default"
The calendar didn't auto start at boot. I installed supervisor as described in the wiki, but the new default version for python seems to be python3.7.

Suggestion:
Change Line 257 in Installer-with-debug.sh from
`command = sudo /usr/bin/python3.5 /home/pi/Inky-Calendar/Calendar/E-Paper.py ` to `command = sudo /usr/bin/python3.7 /home/pi/Inky-Calendar/Calendar/E-Paper.py `

Everything else works li

[2019-09-19 11:58] KunalGautam commented on #45
I think python3 can be better option since it will support python3.x

`command = sudo /usr/bin/python3 /home/pi/Inky-Calendar/Calendar/E-Paper.py`

[2019-09-19 12:13] ahobitt commented on #45
That is true.

[2019-09-28 21:46] hapklaar commented on #26
@ericwass Curious, did you ever get a replacement and did it work afterwards? I'm having similar issues with always getting 'e-Paper busy' repsonses.

[2019-09-28 22:17] ericwass commented on #26
Yes, the new display fixed it. It was a little bit of a hassle getting
Waveshare to coordinate a replacement but, ultimately, they did and it
works fine.

On Sat, Sep 28, 2019 at 2:46 PM hapklaar <notifications@github.com> wrote:

[2019-10-03 16:36] dkudlek commented on #34
@aceisace I did a bit of refactoring and restructuring of your code. It is not as extensive as the version of mgfcf. Just the minimum necessary to suit the needs.

The idea is to support multiple "panels" with "widgets". Sometime in the future you could have some push buttons and switch the panels.  Each panel covers the whole screen and consists of widgets. A widget can have a specifc backend to

[2019-10-09 07:34] aceisace commented on #34
@dkudlek
Hi David, thanks for the comment and the information. Thank you very much for the time and effort spent on the refactorisation of the current version :)
As I am also refactoring the software, I'll use parts of your fork to handle some of the features I wanted to implement in the next release.

[2019-10-09 07:46] aceisace commented on #41
@surak
Hi Alex, I've added a note on the readme of the repo about the limitation of the ics library in regards of webcal based calendars.

As this issue is now resolved, I'll be closing this issue now. If you feel a need to re-open the issue, please feel free to do so.

[2019-10-09 07:46] #41 closed

[2019-10-09 08:02] aceisace commented on #42
@surak Hi Alex, I've taken note of the suggestions you mentioned. I'll try re-arranging the top-section to allow showing a weather forecast. Hopefully this can be implemented in the next release. Once there is some progress, I'll let you know.

I'll be closing this issue now. If you feel a need to re-open this issue, please feel free to do so.

[2019-10-09 08:03] #42 closed

[2019-10-09 08:07] aceisace commented on #43
@surak I've taken note of this bug in the Project-section of this repo. I'll try fixing this bug soon.

As the bug has been noted, I'll be closing this issue. If you feel a need to re-open this issue, please feel free to do so.

[2019-10-09 08:07] #43 closed

[2019-10-09 08:08] aceisace commented on #44
@n00b42
I'll be closing this issue now. If you feel a need to re-open this issue, please feel free to do so.

[2019-10-09 08:08] #44 closed

[2019-10-09 08:13] aceisace commented on #45
@ahobitt @KunalGautam
Well noted with thanks. I've changed the mentioned line so it defaults to python3 now. Hopefully this should resolve the issue with the auto-start.

I'll be closing this issue now. If you feel a need to re-open this issue, please feel free to do so.

[2019-10-09 08:13] #45 closed

[2019-10-17 17:10] ipaid2win commented on #34
Hi there,

First off a big thanks for developing the code, works well. I tried to write a own little script at first but failed, my coding skills are not that great I guess.

I noticed that recurring events are not showing up on the Agenda view, only the initial event is in the list. I currently use 2 different calendars and one of them mainly uses recurring events.
I looked at the code and tried

[2019-10-18 07:31] aceisace commented on #34
@ipaid2win
Hi Alex, thanks for your interest in this software. I'm glad to hear you like the Inky-Calendar software and that the software is working well :). No need to worry about your coding skills, everyone is a beginner at some point.

The parsing of recurring events is a lot more complicated than normal (fixed-time) events. The Python library used for parsing the iCalendar (ics.py) has some d

[2019-10-18 11:44] ipaid2win commented on #34
@aceisace
Thanks for the reply.

I tried the first way yesterday and it (like you wrote) either took way too long or didnt work at all. It also only looks at new events, which filters out all recurring events beginning in the past. At that point I gave up :).

For now I created a second synced calendar and exported the main calendar with the recurring events. I then used Outlook to import the .ics

[2019-10-18 19:12] aceisace commented on #34
@ipaid2win
Hi Alex, thanks for sharing the workaround on how to use turn recurring events into 'normal' ones. I'll add a note about this on the README. For the new release, I'll see if I can either convert recurring events with rrule into single events or use another library to parse them.
You are also correct that the documentation is a bit outdated, mainly because the current release was  develo

[2019-10-19 16:36] ipaid2win commented on #34
@aceisace

Obviously exporting the ICS, turning it into an CSV with another program and then importing it again is pretty dirty.

I think there are some python libraries that should make the conversion ICS -> CSV -> ICS doable on the raspi itself. Until ICS.py is not ready to parse repeating events, this might be a suitable approach. No idea about the performance hit though. Sadly my schedule is c

[2019-10-20 22:45] aceisace commented on #34
@ipaid2win
The conversion from ics to csv and back sounds reasonable if at least the software can display the events correctly (including recurring events). I've had a look at some python-based libraries for this conversion but I could not find any that explicitly supported recurring events. I'll keep searching though.
No need to worry about your shedule. I'm glad to hear that the software is fulf

[2019-10-24 22:41] aceisace commented on #34
@surak @mgfcf Hi Alex, Hi Max,
I did some repositioning of the weather section to create some space for the weather forecast. The following image shows the new weather section in planning:
<img src="https://user-images.githubusercontent.com/29558518/67530580-d2f57980-f6bf-11e9-9cda-61eefb43c1a1.png" width="550">

What do you think about the re-arrangement and what do you think can be improved? Of

[2019-10-24 22:44] aceisace commented on #42
Find out more about this feature request here:
https://github.com/aceisace/Inky-Calendar/issues/34#issuecomment-546131341

[2019-10-25 14:07] mgfcf commented on #34
I really like the look of it! Especially, that there is now information displayed.
The only thing that seems a little crouched are the sunset and -rise times on the right and the humidity, etc. on the left. It intuitively seems like they are part of the hourly forecast, because of the vertical lines on their sides. It may get a little more clear if you could remove them or maybe make them stronger

[2019-10-28 16:32] surak commented on #34
Hi!

I love it.

We could leave it more ample:

Next hour | later today | tomorrow | day after tomorrow|

[2019-10-28 16:35] surak opened #46 "Event-Icon suggestion"
It's basically impossible to tell the difference between a day with an appointment and the current day on the black and white display. The current day's border is slightly bigger (as it goes around the appointment), but that's it.

Suggestion: make it dashed on b/w displays.

[2019-10-28 21:04] aceisace commented on #34
@surak @mgfcf
Thanks for your precious feedback. I've slightly re-arranged the weather section to give a better overview:
<img src="https://user-images.githubusercontent.com/29558518/67717166-7bac1d80-f9cd-11e9-9c39-26d2ab6485cb.png" width="550">
Since owm provides weather forecasts for every 3 hours, the forecast 'sections' also show the weather in that interval.

Does anything else need some imp

[2019-10-28 21:18] aceisace commented on #46
@surak
You have a valid point. I've taken a note of this request and will swap the icon in question soon

[2019-10-28 23:23] surak commented on #34
This is really great! Is it committed here already?

[2019-10-28 23:24] surak opened #47 "VERSION file with the version number"
Since you have version numbers now, it could be that either a file named VERSION containing the current version, or at least github tags, where one could see which one is the current one (I keep my fork in line with yours and I have no clue which version is it hehehe)

Feel free to close this if you disagree, of course!

[2019-10-30 22:14] aceisace commented on #34
@surak
The new weather section is not yet committed in this branch. It will be available in the next release.

[2019-10-30 22:26] aceisace commented on #47
@surak
There is a [CHANGELOG file](https://github.com/aceisace/Inky-Calendar/blob/Stable/Changelog.md) I created to give an overview of all the changes of each release.
Additionally, this sticker here on the README page also shows the current release. which is v1.6:
<img src="https://user-images.githubusercontent.com/29558518/67903572-370ab880-fb6c-11e9-9a03-79666107ac5d.png" width="700">

Is ther

[2019-11-05 16:38] aceisace commented on #34
**Good news everyone;**
The new weather module for the next release (v1.7) is nearly complete. The following image was generated by the new weather module:
<img src="https://user-images.githubusercontent.com/29558518/68226583-99433d80-fff2-11e9-849c-205fa4c4196c.png" width="450">
In comparison, the image designed with the graphics software, which was used as the template:
<img src="https://user-im

[2019-11-05 20:46] aceisace commented on #34
@surak
Glad you like it :). I did not understand the second part, would you mind elaborating on that a little?

[2019-11-06 12:08] surak commented on #34
You have next "hours" - each column is 3 hours after the previous. My question would be to add days - like tomorrow, day after tomorrow and the next (planning the weekend for example)

[2019-11-06 12:45] zAm1987 commented on #34
Looks great, This is a good use of the limited space. Really looking forward to the next release :)

[2019-11-06 21:06] aceisace commented on #34
@surak
You do have a point that in some cases, it does make more sense to show the weather forecast of the next day(s), but for now, I'll leave it as is (to decrease complexity). In short, you can't change the time within the settings file, but you can easily change it in the weather module itself, for example:
[code]
to:
[code]

[2019-11-06 21:14] aceisace commented on #34
@zAm1987
Hi, glad you like the new weather section :).
If there are any suggestions you think that can still be made, do let me know :).

[2019-11-06 23:19] ipaid2win commented on #34
I really like the design of the new weather module, I think it also uses the space way more effienctly. A true forecast (for the day) is way more useful than only the weather at the time of update! Good job!

[2019-11-06 23:25] ericwass opened #48 "Debugging help"
**Describe the bug**
No longer able to launch InkyCalendar. Process crashes fetching events from calendars

**To Reproduce**
Steps to reproduce the behavior:
python3.5 /home/pi/Inky-Calendar/Calendar/E-Paper.py

**Expected behavior**
Inky-Calendar should launch and load events.

**Screenshots**
[code]
**Desktop (please complete the following information):**
Raspbian GNU/Linux 9 (stretch)

**Additi

[2019-11-07 12:39] aceisace commented on #48
@ericwass
Hi, thanks for the report. To help you out with, the error code (error 400) seems to be related to an invalid iCalendar URL. Please check [if the URL is valid](https://icalendar.org/validator.html).

Alternatively, you can paste a copy of your settings.py file without any sensitive data (replacing it with dummy data). In that case, I can check the systax as well.

[2019-11-07 18:16] ericwass commented on #48
Well, the iCalendar validator keeps throwing a "Maximum file size exceeded"
error and I don't know why. I'm generating these URLs straight from the
Google Calendar website using "Secret address in iCal format". I've also
regenerated them a couple of times, just to double check. If I paste my
settings.py file and replace data with dummy data how will you test it?

On Thu, Nov 7, 2019 at 4:39 AM Ace

[2019-11-07 19:39] aceisace commented on #48
@ericwass
If the iCal validator is throwing the max file size exceeded, it means that the iCalendar contains too many events (probably a lot of events from the past as well). If that is the case, then the error caused by the Inky-Calendar software would be due to 2 reasons:
* The fetching of data took too long as there are too many events
* The internet connection from your RPIto your router is sl

[2019-11-07 19:50] ericwass commented on #48
Thanks for troubleshooting this with me. I guess that makes sense but, like I said, it all happened out of the blue. I haven't added a huge backlog of events or anything and I've tried using both calendars and then each calendar separately (one has way more events than the other) and I get these errors every time.

I'm also wondering about your theory that the process is timing out because of slow

[2019-11-07 20:31] aceisace commented on #48
@ericwass
Hi Eric, if the possibility with the slow internet is ruled out, then the only thing that comes to mind is the large number of events. To confirm this, could you try downloading your own Calendars (on your computer or laptop) and check it's filesize?
I'll dig deeper into this problem on the weekend to ensure it's working correctly.

[2019-11-07 20:35] ericwass commented on #48
Just exported them as .ics files from Google and the first one is 1.2mb and
the second is 956k. That doesn't seem very big to me but is it?

On Thu, Nov 7, 2019 at 12:31 PM Ace <notifications@github.com> wrote:

[2019-11-08 09:20] aceisace commented on #48
@ericwass
That's strange. With this size, fetching the iCalendar shouldn't take that long. I'll dig deeper into this issue in the next few days.

[2019-11-08 09:34] aceisace commented on #34
@ipaid2win
Hi Alex, thanks for your comment. I'm glad to hear you like the new weather section design :)

[2019-11-08 09:58] aceisace commented on #34
@surak @mgfcf @zAm1987 @ipaid2win
Finished the refactoring of the RSS module for the new release :D.
The main improvements are bullet-points seperating each feed, titles and description being shown (previously, titles were missing), a better algorithm for selecting feeds (only feeds that can be displayed fully are shown) and better readability.

Below is the image generated by the RSS module. Is t

[2019-11-08 18:45] aceisace commented on #34
Also, this is the new Calendar image in planning for the next release:

<img src="https://user-images.githubusercontent.com/29558518/68470024-8f505300-021b-11ea-9932-02fa85db8d10.png" width="384">

The main difference is that the events from the current day (and next) will be shown below the Calendar. The bottom section will still be available (for rss feeds for example).

[2019-11-13 14:39] baljo opened #49 "Crash on first use"
I'm new to GitHub and Inky-Calendar, so apologizing if this is not the way to inform about issues.

I have 1 or 2 issues when using the program the first time, the first issue might perhaps be because of or related to the second.

1. Nothing is shown on the 3-color e-ink display.
It's connected to a Rpi zero WH through the e-Paper HAT.  When running the Inky-Calendar calibration.py from the termin

[2019-11-14 20:05] aceisace commented on #49
@baljo
Hi, thanks for joining github and for the bug report. I am a little busy working on the new release, but I'll try fixing this issue as soon as possible. I apologise for the inconvenience.

[2019-11-15 07:41] baljo commented on #49
@aceisace
Thx for responding! In the meantime, is there an earlier version that I could try?

[2019-11-18 22:42] aceisace commented on #46
@surak
Hi, I've been  experimenting with a few icons, which can be dynamically adjusted in size (for the next release). Unfortunately, drawing a dotted/dashed border is pretty difficult in PIL without the use of bitmaps, which I'd like to avoid.

Hence, I chose this icon to mark days with events:
<img src="https://user-images.githubusercontent.com/29558518/69100209-f3b1b480-0a5c-11ea-8f25-45d227f4

[2019-11-18 22:44] aceisace commented on #49
@baljo
I'm very sorry I don't have any backups of previous versions while they were stable. Given a week or two, the new release will be finished. When that happens, I'll let you know.

[2019-11-18 22:51] aceisace commented on #48
@ericwass
I've been keeping an eye on my Inky-Calendar in regards to errors while handling events, but so far, there were no errors at all.
Try deleting all setting files in the Inky-Calendar/Calendar folder. Then, regenerate a new settings file from the web-ui and copy that file to  Inky-Calendar/Calendar. After that, please reboot the RPI to apply the changes and it should start using the new se

[2019-11-18 22:52] aceisace commented on #47
I'm closing this issue as the purpose of this issue had already been fulfilled. If you feel  a need to re-open this issue, please feel free to do so.

[2019-11-18 22:52] #47 closed

[2019-11-19 00:53] ericwass commented on #48
Thanks a lot for looking into this. I did what you suggested but am still
getting errors. I'm so confused as to what's happening.

Traceback (most recent call last):

  File "/home/pi/Inky-Calendar/Calendar/E-Paper.py", line 527, in <module>

    main()

  File "/home/pi/Inky-Calendar/Calendar/E-Paper.py", line 345, in main

    decode = str(urlopen(icalendars).read().decode())

  File "/usr/lib/p

[2019-11-19 11:35] aceisace commented on #48
@ericwass
From the error log, this is what I can interpret:
The problem is caused by the URL of the iCalendar, which is causing a [Error 400](https://airbrake.io/blog/http-errors/400-bad-request). This in turn is caused by the server, but it is unclear where the exact issue is. Regardless, the server does not respond and this causes timeouts.

If you don't mind and your iCalendar does not have any

[2019-11-19 14:25] baljo commented on #49
@aceisace
No problem. I was actually able to get it to work with an older version of arrow as I understood the error might be related to compatibility issues or similar. What I did was to install version 0.13.0 and copying all files to python3.7 (~/.local/lib/python3.7/site-packages/arrow $).
Voila!

[2019-11-19 14:43] aceisace commented on #49
@baljo
Thanks for pointing that out :).
In the new release, I'll set ics.py to v0.4, which uses arrow 0.13 /0.14. That will fix the issue with the incompatability.

[2019-11-19 15:24] baljo commented on #49
@aceisace
No problem. Just a question, by checking the OpenweatherMap API I understand that the API is returning wind speed in meters per second (m/s) while the display is showing the wind speed as being in kilometers per hour. Is there a conversion somewhere or is the label incorrect?
Personally I'd prefer m/s as that is what we are used to in the Nordic countries but I can of course always chang

[2019-11-19 15:44] aceisace commented on #49
@baljo
I just checked the API and indeed you are right. The API does indeed return m/s and pyowm does not convert it either. In that case, the windspeed is shown in m/s. You can change the label of the windspeed from km/h to m/s.
I've taken care of this in the new release. Thanks for finding that :)

[2019-11-19 21:57] Druggzz opened #50 "Problems with starting the "E-Paper.py" program"
Hello!
I have problems with my Inky Calender. I have try many things,but it does not want to work. I have test my URl with the iCalendar validation and it's fine. So I don't no where the problem is. If I want to start the calender the terminal says that:

pi@raspberrypi:~/Inky-Calendar/Calendar $ python3 /home/pi/Inky-Calendar/Calendar/E-Paper.py
Initialising weather
_________Starting new loop____

[2019-11-20 09:38] baljo commented on #49
@aceisace
You're welcome!

[2019-11-20 09:53] baljo commented on #50
@Druggzz
I experienced the same issue which seems to be due to incompatibilities between different versions. I was though able to get it to work by manually copying files from the 'arrow'module. Please see issue #49 for some more information.

[2019-11-20 13:08] Druggzz commented on #50
Hi @baljo
thank you for your fast answer.
How can I install arrow 0.13.0?
I found this: pip install arrow==0.13.0
But I don't know how i can copying all files to python3.7 (~/.local/lib/python3.7/site-packages/arrow $).
Can you please tell me,how you did that?

[2019-11-20 13:53] baljo commented on #50
Hi @Druggzz
Please note that I'm completely new to Linux and probably have done things incorrectly or at least in a cumbersome way.
What I started with was (referenced from [https://www.gitmemory.com/issue/TailorDev/Watson/301/520773782]):
$ pip uninstall arrow
$ pip install --user arrow==0.13.0
...but this did not as such help and I needed to copy files manually. It might be that I should have le

[2019-11-20 22:34] Druggzz commented on #50
Hallo @baljo
I must to tell you that it not work. I have unistall arrow and reinstall arrow 0.13.0 like you write me. I hope you remember which data you have copy or so. That would be very nice.
And thank you for your help. I'm also new in Linux and program RaspberryPi

Thank you
Druggzz

[2019-11-21 10:37] surak commented on #46
I like it. Don' know how good it actually looks on the screen. To be honest, the current system is not bad - you can see from the other side of the room. Especially with this new way you made the current day - very different from the appointment.

How would it look like, this red circle on the current day, and the round squares on appointments?

[2019-11-21 13:20] baljo commented on #50
Hi @Druggzz
Ok, I believe your theory is right.
In a nutshell I copied the files from  **//home/pi/.local/lib/python2.7/site-packages/arrow**  to  **//usr/local/lib/python3.7/dist-packages/arrow/**  and to  **//home/pi/.local/lib/python3.7/site-packages/arrow/**   (pi here is the user name I logged into the terminal with)
Before copying, I made a backup of the existing files, just in case.
Why twi

[2019-11-21 18:46] Druggzz commented on #50
Hi @baljo
thank you for you good manual. I copy every file you wrote me and it works fine.
I done this with the terminal like you because it to much expenditure to connect the raspberrypi zero with monitor and a keyboard.
But it works fine.
Thank you so much!

[2019-11-21 18:48] baljo commented on #50
@Druggzz Glad that it worked and that I could help!

[2019-11-22 08:33] #50 closed

[2019-11-22 13:35] baljo commented on #46
I second Surak’s proposal. The dots aren’t as visible as squares. Or was that perhaps the intention?

[2019-11-24 20:34] aceisace commented on #46
@surak @baljo
Thanks for the feedback. Since the intention of the new icon is a better differentiation between the current day and an event-day, any icon can be used which fulfills this purpose.

I've just about finished the core of the new release so I'm doing some fine-tuning and debugging. I'll use the time in the next few days to test @surak 's proposal. When it's done, I'll post images of the

[2019-11-25 08:31] baljo commented on #34
@aceisace
One small suggestion is to change the colour of the temperature to red when below 0 (at least with Celsius, perhaps also with Fahrenheit?). The minus-sign (-) is quite short and not that visible from a distance while the red colour tells it all (I've verified this on my own display). Of course for those with a black and white screen, this does not help.
Another suggestion that might be h

[2019-11-25 08:32] baljo commented on #46
@aceisace
Added a suggestion to the separate thread for suggestions

[2019-11-25 21:05] aceisace commented on #34
@baljo
Hi, thanks for the suggestions. Let me summarise the suggestions:
* Change text colour to red if the temperature drops below 0°C. -> I'll implement this feature in the new release
* Add support for decimal places for temperature and windspeed -> No harm with implementing this as an option.
If you take a look at the dev branch (which contains all the files for the new release), you'll realis

[2019-11-26 10:03] baljo commented on #34
@aceisace
Great that you are able to implement several things, some of them optional!
What it comes to the wind direction, I already coded this quick and dirty and got it to work, so right now I don't need any support, thx anyway.

                        winddeg = weather.get_wind()['deg']
                        if winddeg > 337 or  winddeg <  23: windtxt = "N"
                        if winddeg

[2019-11-27 21:20] aceisace commented on #34
@baljo
Thanks for providing the code. I've implemented this feature on my build but I'm still wondering if the wind direction should be shown in the form of an icon (e.g. an arrow), which is rotated by x-degrees, where x is the direction of the wind in degrees instead of the letters.

Right now, it looks a bit too cramped and less readable:
<img src="https://user-images.githubusercontent.com/29558

[2019-11-28 09:44] baljo commented on #34
@aceisace
A wind icon instead of letters would be perfect and also needs less space.

[2019-11-28 10:54] aceisace commented on #48
@ericwass
Hi Eric. Do you think we can close this issue since the problem was fixed? Thanks in advance.

[2019-11-28 11:03] aceisace commented on #34
@baljo
Thanks for the info. I figured this out a few days ago (i.e. no wind direction being shown for the current weather). I also found out that the wind direction is provided in forecast objects. I'm simply using the wind direction from the next couple of hours to prevent N/A signs.

[2019-11-28 18:28] ericwass commented on #48
Actually it's still not working for the calendars I need it to work on. You
offered to have me send you settings file but, even though I trust you,
there's definitely a lot of personal/sensitive stuff on those calendars.
I'm not sure what to do.

On Thu, Nov 28, 2019 at 2:54 AM Ace <notifications@github.com> wrote:

[2019-11-29 22:12] aceisace commented on #48
@ericwass
You do have a point. Then it's best to leave this issue open.
I will soon finish the new release (in a few days) so maybe then, you can test if the iCalendar can be parsed correctly.

[2019-12-04 23:00] aceisace commented on #34
## Looking for Beta testers
The new release (v1.7) is now ready for launch. The fine-tuning is also finished. Before I push the changes on the main branch, I'd like to ask a few people (beta-testers) to test the new release.

If you are interested, please let me know via a comment so I can send you the link of the new OS file. Thanks in advance.

[2019-12-04 23:40] surak commented on #34
Me, of course

[2019-12-05 08:03] baljo commented on #34
Me too

[2019-12-05 11:53] zAm1987 commented on #34
If it's not time critical (i have some busy days this weekend) I can test it, too :)

[2019-12-07 11:33] niawag commented on #34
Hi @aceisace and thanks for this great software!
Your work is really helpfull in my slightlly different project (using a WS 7.8" eink screen do display T°/H% from sensors and weather).
In v1.7 you have integrated lunar phases and I'd love to use that too, do you get this with OWM API (didn't found it on their site) or another site/API?
If it's too complicated/time consumming to extract the lunar p

[2019-12-07 13:49] ipaid2win commented on #34
I'm also interested in beta testing

Thanks for the amazing work!

[2019-12-07 15:17] aceisace opened #51 "Bug reports for release v1.7"
# BETA testing
Welcome to the BETA-testing of release v1.7. Thank you for willing to test the new software.
As the Installer of the new release is still work in progress, an alternate way to install the software had to be found. For now, the Inky-Calendar software is offered as a pre-configures OS image, which you can simply flash on a blank MicroSD card.

Below is the link on where you can downlo

[2019-12-07 15:20] aceisace commented on #34
@ipaid2win @zAm1987 @baljo @surak
Thank you everyone for willing to test the new BETA release. Please see the instructions here #51 on how to get started. Over there, you can also post/discuss bug reports etc. related to the beta release

[2019-12-07 15:30] aceisace commented on #34
@niawag
Hi, thanks for your interest in the Inky-Calendar software and for your comment. I'm glad to hear that you like the software. In regards to the lunar phase, you are right that openweathermap does not show lunar phases (or provides info about them in the api). The code that cacluates the lunar phase is in fact not my own code, although I have modified it (and given credit to the author).

S

[2019-12-07 16:00] surak commented on #51
Is it a whole system image? Then I can't. The raspberry is inside of that picture frame I've shown you before, all glued. If I can clone it from a branch on git, it's fine.

[2019-12-07 16:05] aceisace commented on #51
@surak
Yes, this is a whole system image. I'm working on the new installer, but until it's ready, it'll take at least a few days.

[2019-12-07 16:23] aceisace commented on #49
@baljo
Nearly forgot to answer your first question about the calibration from the first comment. Sorry about that.

To answer your question, 'calibration' is the process of flushing the image with a single colour several times to prevent ghosting. Ghosting is a E-Paper specific thing. It's like writing with a pencil on paper and erasing it again. Eventually, you'll see marks of the previous images

[2019-12-08 13:51] niawag commented on #34
Thanks a lot, it's working!
Here is a result of my WIP: the upper part is data from sensors (using the domoticz API) and the lower part is the weather from your OWM API implementation:

![test_im](https://user-images.githubusercontent.com/5684014/70390282-0408df80-19ca-11ea-8019-4180d548b1da.png)

If/when I manage to put this picture on my screen using your code I'll try to add it here so others w

[2019-12-08 15:15] aceisace commented on #34
@niawag
Thanks for sharing what you made with part of the Inky-Calendar software. I like the idea of showing sensor data alongside weather info/foracasts :)
You can find the code for the new weather section (release v1.7 beta) here:
[new weather code](https://github.com/aceisace/Inky-Calendar/blob/dev/Inky-Calendar/modules/inkycal_calendar.py). You'll probably need to adapt a few things, but it mi

[2019-12-09 08:50] niawag commented on #34
Ah, great! Thanks! I'll see what I can do with that and the code from waveshare github. I hope I'll be able to partially refresh the screen (one of the reasons I got this screen) !

I'll follow your work with the coming release and try to help if I can!

[2019-12-09 11:11] ipaid2win commented on #51
After accidentally flashing my old Raspian image I managed to install your image (took me some time to notice that SSH and VNC were disabled and Inky was not there lol)

Few things I noticed:

- The font is smaller than before, I prefer the larger font of 1.6. (or whatever version I was running before).
- The letters "a" and "o" look identical now, both look like a small "a". Obviously from the co

[2019-12-09 16:21] zAm1987 commented on #51
Installing and configuring went fine. The main script seems to work without problems, too. I think it is even a bit faster now :)

As I conpared the settings file to my old one, I noticed the number of fetched events ist not configurable anymore. I am not really missing this feature, but I am curious what is the reason behind this ^^

My observations of the result the main script produced:
- As @i

[2019-12-09 21:08] aceisace commented on #51
@ipaid2win @zAm1987
Thank you very much for testing the new release and for your honest commments :)

Concluding what you both have said, the biggest issue is the font, or rather, the disortion of the font without anti-aliasing. Although anti-aliasing was never supported, the font in the last release was thicker than the current one. I'll fix this problem by switching the current fonts with thicke

[2019-12-09 21:38] aceisace commented on #34
You're welcome @niawag :)
Good luck with the partial refresh function and thanks for willing to help on the new release.

[2019-12-10 06:45] zAm1987 commented on #51
@aceisace thanks for the explanation :)
I will try the manual change for "now".

After a day of usage I have made to other observations:
- Despite being tuesday, the agenda still shows events from monday (and the das monday in general). Maybe something crashed and therefore has not been updated. I will try a restart and see If it happens again
- In agenda view localisation does not work, too ("all

[2019-12-10 16:42] zAm1987 commented on #51
Update:
Restarting the pi did not help, the display still showed monday as first day in the agenda despite being tuesday today. I started the script manually again and now tuesday is the correct first day, but has the events from wednesday in it. In addition to that the last event from today/tuesday is shown on top of the first "day-line" and therefore having no assigned day in the agenda table.

[2019-12-11 07:03] zAm1987 commented on #51
Update 2:
Similar problem as yesterday, the display was not updated automatically. It seems that the "cicle" to start the script again does not work properly.

Anyway, as the display still shows the strange layout drin yesterday, I made a photo of it. The explanation follows below:

![agenda](https://user-images.githubusercontent.com/46342498/70598436-2594e180-1beb-11ea-89ad-7809e7d26210.jpg)

- T

[2019-12-11 20:56] aceisace commented on #51
Thank you for the report on the bug in the agenda module @zAm1987 . Seems like I made a mistake with the sorting of events. I'll look into this after fixing the other bugs.

In regards to the localisation option for the agenda view (All-day), I'll see if I can display it in the set language. Normally, just like the 'now' from the weather section, this is simply a string which can be changed.

May

[2019-12-12 05:25] ericwass commented on #48
So, not long after our last interaction Inky Calendar stopped displaying anything at all. I would see the Waveshare display refresh now and then but no image would ultimately resolve. I tried killing and then relaunching Inky Calendar, rebooting the Raspberry Pi, etc. Nothing worked. So tonight I uninstalled Inky Calendar and then did a fresh install. But now I'm getting an error on launch. Can yo

[2019-12-12 18:21] zAm1987 commented on #51
@aceisace
I switched to calendar view and the events from today are displayed correctly on the bottom, only thing is they are off bei one hour. In addition events from today that that have ended hours ago are still shown, but I am not sure if this is just the way it actually should work.

Concerning the events from other days, I am not sure because there are so many, that I cannot tell from the sy

[2019-12-12 21:30] aceisace commented on #48
@ericwass
Hi Erik, I'm sorry to hear you had to go through all this. Due to too many flaws and bugs in the current (public) release, I did a full re-write of the software which is nearly complete. Unfortunately, the bugs in the current release were not taken care of. I apologise for that.

On the other hand, the next release (v1.7 beta) is available here:
[v1.7 (BETA) release testing](https://gith

[2019-12-12 22:06] ericwass commented on #48
Thanks, Ace. I took a quick look at that beta link. Do I understand right
that it's a full install of Raspbian Stretch as well as the 1.7
beta version of Inky Cal? This would be a total overwrite of my existing
RPi setup, correct?

On Thu, Dec 12, 2019 at 1:30 PM Ace <notifications@github.com> wrote:

[2019-12-12 22:18] aceisace commented on #48
Yes, you are right, @ericwass . At the moment, only the full image is the 'best' way of setting up the new software. I am working on the installer but there are some bugs that need my attention before that.

If you think you can do some trial-and-error, you can actually try the new version without the OS. If you still have some time now, I'll help you set it up.

For starters, please uninstall any

[2019-12-12 22:20] aceisace commented on #48
Next, create 2 symlinks (kind of like shortcuts on Windows, but not exactly) of the settings and configuration file:
`ln -s /home/pi/Inky-Calendar/settings/settings.py /home/pi/Inky-Calendar/modules/`
`ln -s /home/pi/Inky-Calendar/settings/configuration.py /home/pi/Inky-Calendar/modules/`

[2019-12-12 22:22] aceisace commented on #48
Next, add your settings in the settings file:
`nano /home/pi/Inky-Calendar/settings/settings.py`
The settings file already contains some info about filling in the details.

[2019-12-12 22:23] aceisace commented on #48
Lastly, run the Inky-Calendar software with:
`python3 /home/pi/Inky-Calendar/modules/inkycal.py`

The software should now be up and running :)

[2019-12-12 22:26] ericwass commented on #48
Ok. Thanks for all this. I will give it a go. The only step I'm concerned
about is removing the Waveshare files. Is there a simple way to do that?

On Thu, Dec 12, 2019 at 2:23 PM Ace <notifications@github.com> wrote:

[2019-12-12 22:29] aceisace commented on #48
How did you install the waveshare files? Did you follow any instructions from a website? If you could provide the link, I can 're-track' the changes and find commands to 'un-do' them.

[2019-12-12 22:42] ericwass commented on #48
So kind of you. I don't want to make you do a bunch of extra work. But, if
you're interested, I believe this is where I found the files/instructions:
https://www.waveshare.com/wiki/Pioneer600#Libraries_Installation_for_RPi

On Thu, Dec 12, 2019 at 2:29 PM Ace <notifications@github.com> wrote:

[2019-12-12 22:49] aceisace commented on #48
You're welcome :)
Thanks for providing the link. The only collision I could see was this command:
`sudo apt-get install python-imaging`
It installs PIL (Python Imaging library), but the Inky-Calendar uses the Pillow library (a fork of PIL). Unfortunately, both cannot co-exist at once. You can uninstall that package with:
`sudo apt-get remove python-imaging && sudo apt-get clean && sudo apt-get aut

[2019-12-12 23:03] aceisace commented on #51
@zAm1987 @ipaid2win
I've fixed some of the bugs (non-readable fonts, incorrect event-times) and implemented the feature of auto-expanding the agenda module if the space below is free.
Recurring events and custom fontsizes for each module are coming soon.

You can find instruction on how to update on the first comment.

[2019-12-12 23:07] aceisace commented on #51
@zAm1987 You mentioned that in the Calendar module, all events were off by one hour. I think that might be related to non-set system timezone. You can set the timezone with:
`sudo dpkg-reconfigure tzdata`. This should fix the problem.

In regards to the events of the Calendar section, they are made to show events from today and tomorrow, regardless of the time. I'll change that soon so it only doe

[2019-12-12 23:10] aceisace commented on #51
I've got some good news, @surak . It is now possible to install the software without the OS. In case you are interested on the instructions, you can find them here: [updating software from previous release](https://github.com/aceisace/Inky-Calendar/issues/48#issuecomment-565212329)

[2019-12-12 23:18] ipaid2win commented on #51
Alright, not sure if it was directly mentioned before, but I found some bugs:
- My "week_starts_value" is set to "Monday", but it shows a single event from Monday on Sunday.
- On Monday itself, events for Tuesday are shown. Two are shown correctly (except for being on the wrong day), but one is shown twice.
- The rest of the week is also shifted.
--> I guess the calendar starts on Sunday and shift

[2019-12-12 23:31] aceisace commented on #51
Thank you for the report @ipaid2win . You managed to pinpoint the issue with the shifted events. I also recently found out about that. I've fixed it in the new, well update so that should no longer be a problem.

In regards to the spacing, may I ask you to clarify this a bit further? Is is the fontsize or the line height or width?

I'm glad to hear the updating instructions work as expected :). Th

[2019-12-12 23:58] ipaid2win commented on #51
@aceisace

With spacing I meant the distance between each line of text or rather between the events. I just measured with some calipers, the spacing between the times in front of the events is always the same.  Ai also noticed that the time stamps in front of the events are also sometimes not in one horizontal line with the text behind them. I think its the same issue, only happens on the second t

[2019-12-13 13:48] zAm1987 commented on #51
@aceisace
Updating went fine. My observations:

- Sorting of events works now correctly.
- The font is definitely more readable. But with some characters it is now the opposite of the old problem, because they are too bold for this font size and the resolution of the display. Still better than before though and hopefully fixed with the upcoming font size customization ;)
- Agenda now uses empty sp

[2019-12-13 23:12] aceisace commented on #51
Thank you for the additional feedback @zAm1987 . It's good to hear the sorting of the events works fine now :). The problem with some letters being too bold will be fixed soon. It's related to the pixel colour-remapping (function: reduce_colours) for the black-and-white E-Paper displays and is caused by creating more 'darker' pixels than desired.

It's also good to hear the expansion of the agenda

[2019-12-13 23:23] aceisace commented on #51
Thanks for pointing that out, @ipaid2win . I did a short check on what might be the cause of the slightly shifted lines. It's related to the fact that the function used for writing text ensures that all words are centered to the middle of the line by default. As a result, only lines containing letters that nearly touch the line (e.g. 'y') are slightly higher.

I'll see what can be done to make the

[2019-12-14 00:23] ericwass commented on #48
Got to step 2 and it's throwing an error:

*pi@raspberrypi*:*~ $* pip3 install -r /Inky-Calendar/requirements.txt

Could not open requirements file: [Errno 2] No such file or directory:
'/Inky-Calendar/requirements.txt'

On Thu, Dec 12, 2019 at 2:18 PM Ace <notifications@github.com> wrote:

[2019-12-14 00:27] aceisace commented on #48
@ericwass Sorry, my bad, it was a typo and is supposed to be:
`pip3 install -r /home/pi/Inky-Calendar/requirements.txt`

[2019-12-14 00:31] ericwass commented on #48
Seems to be working now. I'll let you know when I get through it all. Thank
you

On Fri, Dec 13, 2019 at 4:27 PM Ace <notifications@github.com> wrote:

[2019-12-14 00:33] aceisace commented on #48
Sure :). You're welcome

[2019-12-14 00:51] ericwass commented on #48
Working except for weather. API key is correct. This error mean anything to
you?

Initialising weather... Done

Cleanup of previous images...Done

Current Date: 13 Dec 2019

Current Time: 16:48

-----------Main programm started now----------

Calibration.. not required. Continuing...

Weather module: Connectivity check passed, Generating
image...__________OWM-ERROR!__________

Reason:  The searche

[2019-12-14 01:10] aceisace commented on #48
Glad to hear you managed to set it up, @ericwass . Have you done any modifications to the weather module? Maybe something related to the time of forecasts?

If not, try to run the weather-module by itself with:
`python3 /home/pi/Inky-Calendar/modules/inkycal_weather.py`

[2019-12-14 01:32] ericwass commented on #48
Haven't touched the weather module or any other. How do you change the time
of the forecasts? Here's what happened when I ran the weather module by
itself;

*pi@raspberrypi*:*~ $* python3
/home/pi/Inky-Calendar/modules/inkycal_weather.py

Initialising weather... Done

Weather module: Connectivity check passed, Generating
image...__________OWM-ERROR!__________

Reason:  The searched item was not fo

[2019-12-14 10:18] zAm1987 commented on #51
@aceisace
Thanks for the explanation about the "all day" string. I will try this in the next days :)

My last problem right now is, that the script or display does not automatically update. I dont know if this is the normal behaviour (as it is a beta version) or if it should actually work. Right now my display still shows the same information as Yesterday.

[2019-12-14 14:26] surak commented on #51
Hi

I have it running.

I really like the new calendar. It's way better.

![IMG_7700](https://user-images.githubusercontent.com/878399/70849947-67d94f80-1e85-11ea-8adc-79acc113d18f.jpg)

What I don't like:

- There's something at the right of the current temperature. No clue what.
- Font rendering is... off. I don't know.
- I don't have events for today and tomorrow... So bring the next ones - bet

[2019-12-14 15:09] surak commented on #51
Line 159 of inkycal_calendar.py has a hardcoded max number of events. but you have a variable for that at the beginning of the file.

ps: Accented characters work!

[2019-12-14 18:53] aceisace commented on #51
You are right @zAm1987 that the script does not automatically start at boot. This is mainly because this is a BETA release and the stability is being tested.
On the other hand, you can use a simple crontab job to get the job done. As a side-effect, you won't be able to see any error messages or logs.

**Activating startup at boot**
`crontab -e`
You might be asked which editor to choose. Just choos

[2019-12-15 19:36] aceisace commented on #46
I've added both event-icon options in the next release, which you have probably tested. Think this issue can be closed now or is there still something that needs to be done with the event icon @surak  ?

[2019-12-15 20:33] surak commented on #46
Absolutely. It looks way better now!

[2019-12-15 20:34] #46 closed

[2019-12-16 00:17] aceisace commented on #48
Hi, @ericwass . Sorry for the late reply. It's a bit strange that you are getting this error. Can you try re-starting the Rpi and re-test the weather module?

[2019-12-16 02:13] aceisace commented on #51
@ipaid2win @surak @zAm1987  Thank You everyone for all your feedback.
It took quite some time to implement the feature of parsing recurring events, but it's finally available in the BETA release now. I'd like to ask you all to perform one last update to check if something still needs some improvement in the new software or if it is ready for public.

The main improvements are:
* Better rendering o

[2019-12-16 10:59] zAm1987 commented on #51
@aceisace
I tried using the experimental function for recurring events and it seems that it has some problems with the events of my calendar. Can I somehow see which events are the problematic ones in order to pinpoint the issue?

`-----------Main programm started now----------
Calibration.. not required. Continuing...
Weather module: Connectivity check passed, Generating image...Done
Agenda modul

[2019-12-16 16:48] ipaid2win commented on #51
Just updated to the newest beta.

I get no errors when using the experimental feature for recurring events, everything shows up. This is great! Now I don't have to keep a copy of my calendar with only individual events.

The text is now way more readable from normal distances. Changing the font size of the agenda to larger than 14 cuts of part of the date text in front of the events. At 15 its onl

[2019-12-16 18:11] ericwass commented on #48
Hi Ace,
I restarted and retried. Here's what I got:

*pi@raspberrypi*:*~ $* python3
/home/pi/Inky-Calendar/modules/inkycal_weather.py

Initialising weather... Done

Weather module: Connectivity check passed, Generating
image...__________OWM-ERROR!__________

Reason:  The searched item was not found.

Reason: Error: the specified time is not included in the weather coverage
range

On Sun, Dec 15, 2

[2019-12-17 00:04] aceisace commented on #51
Thanks for testing the update @zAm1987  :)
I'm sorry to hear that the recurring events are not parsed correctly. I did some testing with Google and Yahoo iCalendars and it seemed to be working fine. Are you using an iCalendar from a different provider?

On the other hand, the recurring events were at least filtered correctly, so that is working fine. To see which events caused the problems, you ca

[2019-12-17 00:27] aceisace commented on #51
I'm glad to hear the update works as expected @ipaid2win :)
The one that took the most time was the support for recurring events. It that works now, the rest is a piece of cake.

It's also good to hear the text is more readable now. I've added a note about contructing 'lines' in the agenda module instead of splitting up lines and pasting text in sections. The note about line wrapping is also there

[2019-12-17 00:39] aceisace commented on #48
@ericwass
Thanks for testing the weather module again. It seems as though this problem requires further investigation since it is only happening on your end at the moment.

Please unzip the attached folder, copy the file to the Raspeberry Pi inside the modules folder within the Inky-Calendar folder and run it with [F5]. Then, once it crashed, please paste the full error via a comment. Thanks in ad

[2019-12-17 02:39] ericwass commented on #48
Thanks, as always, for seeing this through. Here's what happened:

*pi@raspberrypi*:*~ $* python3
/home/pi/Inky-Calendar/modules/weather_test.py

Initialising weather... Done

Weather module: Connectivity check passed, Generating image...now: 16 Dec
19 18:38, forecast1: 16 Dec 19 21:38, forecast2: 17 Dec 19 00:38,
forecast3: 17 Dec 19 03:38,forecast4: 17 Dec 19 06:38

Traceback (most recent call l

[2019-12-17 23:16] aceisace commented on #51
Thank you everyone for your precious time and feedback. It took a bit longer than expected, but since there are no more major problems or issues with the v1.7 BETA release, I'm now going to make the release public.

The Installer and web-ui are now back and online. The auto-start at boot is also working as expected.
I'm going to leave this issue open for now as there still are some unfinished part

[2019-12-18 00:03] ipaid2win commented on #51
@aceisace

I noticed that when using the bottom for the agenda as well, the lower part won't fully refresh when it switches over to the next day. The old data stays and the new data is put over it. This results in this mess:
![IMG_20191217_210005](https://user-images.githubusercontent.com/42000411/71044150-28cf2680-2131-11ea-83fc-ca3e5f8cddf9.jpg)

Manually restarting the program or rebooting the

[2019-12-18 00:48] aceisace commented on #49
I'll be closing this issue now @baljo, since the new release is now public. With the new release, this issue is irrelevant.

If you feel a need to re-open this issue, please feel free to do so.

[2019-12-18 00:48] #49 closed

[2019-12-18 00:49] aceisace commented on #39
I'll be closing this issue now, @dkudlek since the new release has been published.
Due to the new release. this issue is now irrelevant.

If you feel a need to re-open this issue, please feel free to do so.

[2019-12-18 00:49] #39 closed

[2019-12-18 00:54] aceisace commented on #51
Thanks for the report, @ipaid2win . Indeed I did forget to 'erase' the bottom section when using the expanded agenda view. I'll fix this asap.

[2019-12-18 01:18] aceisace commented on #51
OK ,it's done @ipaid2win .
To fix that, open inkycal_agenda.py in modules (inside Inky-Calendar folder) and change this part:
[code]
to:
[code]

[2019-12-18 01:45] aceisace commented on #34
As the new release (v1.7) has finally been published, this issue is going to be closed now.
I'd like to thank all participants for their suggestions, bug reports, critics and feature requests.

If you feel a need to re-open this issue, please feel free to do so.

[2019-12-18 01:46] #34 closed

[2019-12-18 14:37] zAm1987 commented on #51
@aceisace

Yes me and my wife are using google calendar only.
I ran your supplied recurring_test.py in order to find the problematic events in my calendar(s) and I am quite surprised what the script printed out... The problematic ones seem to be all yearly events (birthdays, "couple-day", etc). The real interesting thing however is, that there are several birthdays included from contacts I deleted

[2019-12-18 15:54] aceisace commented on #51
@zAm1987
Thanks for providing all the data from the problematic events. You don't need to worry about the formatting as I usually try to keep the formatting consistent in all issues :)

What I now found out is that the problem was not with the parser, but rather with the events themselves. These events end before they begin, which causes issues with calculating the duration for example. This is an

[2019-12-20 00:56] aceisace commented on #48
Hi @ericwass ,
I sent you an email with some additional instructions. Have you had a chance to take a look at it?

[2019-12-21 11:51] baljo commented on #51
@aceisace First of all, sorry I was not able to beta test as I had intended to do, life suddenly intervened.

Now when back on track, I've installed the new version and have similar problem as @zAm1987, i.e. I get message:
   **Error in Calendar module!
   Reason: Begin must be before end"**

The result is that the calendar section is completely blank, no dates, no events, just a white area. The w

[2019-12-21 12:00] baljo commented on #51
@aceisace Another smallish issue, easy to fix:
In inkycal_weather.py  you have the following code (starting on row 30 in my script):

"""Set the optional parameters"""
decimal_places_temperature = None if round_temperature == True else 1
**_decimal_places_windspeed_** = None if round_windspeed == True else 1

...while starting on row 223 below code. This is causing an error if using decimal places

[2019-12-21 14:22] baljo commented on #51
@aceisace
Sorry for another post, please note that what you've done is awesome!

Related to the calendar error, as I only had a couple of events in this particular calendar, I created another calendar as a quick fix and moved the events there, this worked alright as a temporary solution.
Now I see that the time for events is shown in 12-hour format even if I've chosen 24-hour format, e.g. an event

[2019-12-21 16:12] gabe-sudo commented on #51
Thanks for all your hard work, Ace
I've been getting a strange error since the 1.7 beta, weather display works if i dont set my timezone(but doesnt display the correct time obviously). however if i set my timezone, OWM throws out the error: "the specified time is not included in the weather coverage range" on running, and the weather info is not displayed.

Any ideas?

[2019-12-21 19:39] baljo commented on #51
Seems that the **update_interval** in settings.py does not work for me, regardless of what I put there, the refresh is happening every full hour only. I've tried with different values, e.g. 5, 10, 15 minutes but with the same result.
Just to make sure that the variable is being read from settings.py, I put "xx" there which resulted in an expected crash.
When running the inkycal.py manually from th

[2019-12-22 14:03] zAm1987 commented on #51
@aceisace
I found another strange behaviour with events, which are going on for several days and have the beginning in the past (view from the moment of refreshing the display):

![pastbeginning](https://user-images.githubusercontent.com/46342498/71322730-1c4d2400-24cb-11ea-9425-19a6ebb4fff9.png)

In the attached photo the event(s) "Urlaub" is shown 12 times before / on top the actual day (So 22.

[2019-12-22 15:23] aceisace commented on #51
### Update
I'm sorry to everyone for the short notice, but I'll be outside the country until mid January. Unfortunately, I won't be able to work on the Inky-Calendar software until then. I apologise for the inconvenience.

Please feel free to report any bugs/errors. Once I'm back, I'll start working on them :)

[2019-12-26 08:39] Ribitsch opened #64 "iCalendar support for iOS Devices"
Hi
I would like to know, if iCalendar is also synced from Devices like an iPhone?
Would be awesome to know (:

[2019-12-26 20:41] aceisace commented on #64
Hi, thanks for your interest in the Inky-Calendar software and for your comment.

Yes, sure. It is possible to sync the Calendar from your iOS device (or really any device nowadays).

In the case of iOS, if you go to
Settings>Passwords and Accounts, you‘ll find a list of accouts associated with your device. If you click on any account, make sure the ‚Calendar‘ sync is turned on. That way, if you a

[2019-12-28 11:11] zAm1987 commented on #51
Next observation:

The calibration process does not work properly in my (black_and_white) display. While calibrating only the left half of the display does the full black and full white cycle. The right half only displays some weird pixel pattern.

The following update process however works fine and all areas of the display are properly updated.

I am not sure If this is a new behaviour or happene

[2019-12-29 10:43] Ribitsch commented on #64
Thanks for the answer. Before I buy the display, I have another question:
Is it possible to also use a Raspberry Pi 3B or are some Settings specifically programmed for the Pi Zero?
Best wishes

[2019-12-29 17:49] aceisace commented on #64
Yes, it‘s possible to use any Raspberry Pi as they all support SPI, which is required to drive the display.

But the reason the Pi Zero W is preferred is due to the lower power consumption (5V; 0.2A = 1W) which is best suited for the low-power E-Paper display.

By the way, there are now 2 variants of the 7.5“ E-Paper display. The ‚old‘ one has a resolution of 640x384px, while the ‚new‘ one support

[2019-12-29 18:07] Ribitsch commented on #64
Hi
Thank you. Then I will go for the higher resolution display with 3 colors 👍🏻

[2019-12-30 04:16] aceisace commented on #64
Sure. I‘ll be back in Mid-January. Then, I‘ll add the support for the new 7.5“ E-Paper display.

[2020-01-01 15:20] surak commented on #64
@Ribitsch @aceisace there are some problems with connecting directly with ical, and you can find some closed issue here.

What I did was to publish an ical from icloud, and import it on google calendar, and use the url from google. That one was readable by the system, and it updates from icloud just fine.

A bit convoluted, but I'm using for about a year now and it works.

[2020-01-01 17:04] Ribitsch commented on #64
Hmm, that is actually bad news, as I don’t like Google having all my personal calendar entries :/
Thanks for the information

[2020-01-01 20:36] surak commented on #64
@Ribitsch hi, here you can see it better: https://github.com/aceisace/Inky-Calendar/issues/41

[2020-01-01 20:37] surak commented on #64
I used google because it was the lazy, easiest option. No one stops you from doing any other - including having an owncloud or another calendar server on the raspberry pi itself and fetching from icloud. It is also worth to having a try, since the great @aceisace updated the whole thing since then.

[2020-01-03 11:04] ipaid2win commented on #51
@zAm1987

I can confirm that it happened in earlier versions of 1.7 (or the beta).

I currently have major issues with an event that spans from mid of December to next week. On the current day it shows multiple entries for that event. I haven't counted the number of repeated entries, but it looks like for every day that passed it added one additional event. I haven't noticed this specific behaviou

[2020-01-09 10:35] kabal00 opened #65 "Feature request: Add support for more E-Paper displays"
Hi everybody,

Great work with the software!

is it possible to use the Inky-Calendar with the new Waveshare 7.5 inch with a higher resolution (800 x 480)? I tried to change the libraries without any success.

Thanks in advance.

[2020-01-09 15:05] aceisace commented on #65
Hi @kabal00 and thanks for your comment. Support for the new 7.5" is in planning and will be added soon once the current known bugs are fixed.

Once further progress is made, I'll post an update in this thread.

[2020-01-13 21:11] aceisace commented on #65
OK, I'm back @kabal00 now. I've started working on the support for the new E-Paper displays. Unfortunately, it might take a bit longer than expected (~1-2 weeks) as I have to update nearly everything in the driver files. Reason being is that waveshare uses a new approach to render images on the E-Paper displays.

As the modification required are bigger than expected, a new release will be pusblish

[2020-01-13 21:13] aceisace commented on #64
Hi @Ribitsch ,
I'm back now and will test the support of iOS-generated iCalendars in the next coming days. Once I make some progress, I'll post an update in this thread.

[2020-01-13 21:15] aceisace commented on #51
OK everyone, I'm back now and can finally work on debugging the issues reported in this thread. Once something has been fixed, I'll post an update in this thread.

[2020-01-13 21:19] kabal00 commented on #65
Hey aceisace,

sounds Great and I will verify the new software.

Thanks for your fast response and I am looking forward to your new software release.

[2020-01-13 22:11] surak commented on #64
Hi, I just did it again with google calendar. The trick is that
1) at the moment you add a iCloud calendar to google, you must type that it’s public, and this can’t be changed.
2) the url google shows is wrong. If you want to go this way, I can write you how I do it with 1.7